In [ ]:
numList = [10,20,30]
numList[1] = 200
print(numList)

[10, 200, 30]

In [ ]:
numList = [10,20,30]
numList[1:2] = [200, 201]
print(numList)

[10, 200, 201, 30]

In [ ]:
numList = [10,20,30]
numList.insert(1,123)
print(numList)

[10, 123, 20, 30]

In [ ]:
numList = [10,20,30]
del(numList[1])
print(numList)

[10, 30]

In [ ]:
numList = [10,20,30,10,10]
numList.remove(10)
print(numList)

[20, 30, 10, 10]

In [ ]:
numList = [10,20,30]
numList.pop()

30

In [ ]:
print(numList)

[10, 20]

In [ ]:
a = []
num1, num2, num3 = map(int,input("세 수를 입력하세요. ").split())
a.append(num1)
a.append(num2)
a.append(num3)

largest = a[0]
for i in a:
  if i > largest:
    largest = i
print("입력받은 수 중 가장 큰 수는 %s 입니다."%(largest))

세 수를 입력하세요. 3 5 7
입력받은 수 중 가장 큰 수는 7 입니다.

In [ ]:
gender, age = input().split()

age = int(age)
if age >= 18 :
    if gender == "M":
        print("MAN")
    elif gender == "F":
        print("WOMAN")
else:
    if gender == "M":
        print("BOY")
    elif gender == "F":
        print("GIRL")

F 18
WOMAN

In [ ]:
noList = [[1,2,3,4],
          [5,6,7,8],
          [9,10,11,12]]

for i in range(0,3):
  for j in range(0, 4):
    print("%3d"% noList[i][j], end='')
  print("")

  1  2  3  4
  5  6  7  8
  9 10 11 12

In [ ]:
def plus(v1, v2):
  result = 0
  result = v1 + v2
  return result

hap = 0

hap = plus(100,200)
print("100과 200의 plus() 함수 결과는 ",hap)

100과 200의 plus() 함수 결과는  300

In [ ]:
## 함수 정의 부분
def para2_func(v1, v2):
  result = 0
  result = v1 + v2
  return result

def para3_func(v1, v2, v3):
  result = 0
  result = v1 + v2 + v3
  return result

hap = 0

hap = para2_func(10,20)
print("매개변수 2개 함수 호출 결과 ==> ", hap)
hap = para3_func(10,20,30)
print("매개변수 3개 함수 호출 결과 ==> ", hap)

매개변수 2개 함수 호출 결과 ==>  30
매개변수 3개 함수 호출 결과 ==>  60

In [ ]:
def func2():
  result = 100
  return result

hap = 0

hap = func2()
print("func2()에서 돌려준 값 ==> ",hap)

func2()에서 돌려준 값 ==>  100

In [ ]:
def func3():
  result1 = 100
  result2 = 200
  return result1, result2

hap1, hap2 = 0, 0

hap1, hap2 = func3()
print("func3()에서 돌려준 값 ==> ", hap1, hap2)

func3()에서 돌려준 값 ==>  100 200

In [ ]:
import random
def lottoFunc():
  lottoNum = random.randint(1,45)
  return lottoNum

lottoList = []
num = 0

print("** 로또 추첨을 시작합니다. ** \n")

while True :
  num = lottoFunc()

  if num in lottoList :
    continue
  else:
    lottoList.append(num)
  if len(lottoList) == 6:
    break
print("오늘의 로또 번호 ==> ", end='')
lottoList.sort()
for i in range(0,6):
  print(lottoList[i]," ",end = "")

** 로또 추첨을 시작합니다. **

오늘의 로또 번호 ==> 10  14  19  26  41  43

In [ ]:
import random

computer, user = 0, 0

for i in range(1,11,1):
  computer = random. randint(1,5)
  print("게임", i, "회: ", end='')
  user = int(input("컴퓨터가 생각한 숫자는 ?"))

  if computer == user :
    print("맞혔네요. 축하합니다 !!")
    break
  else:
    print("아까워요. ",computer, "였는데요. 다시 해보세요. ㅠ")
    continue
print("게임을 마칩니다. ")

게임 1 회: 컴퓨터가 생각한 숫자는 ?5
아까워요.  1 였는데요. 다시 해보세요. ㅠ
게임 2 회: 컴퓨터가 생각한 숫자는 ?3
아까워요.  5 였는데요. 다시 해보세요. ㅠ
게임 3 회: 컴퓨터가 생각한 숫자는 ?1
아까워요.  4 였는데요. 다시 해보세요. ㅠ
게임 4 회: 컴퓨터가 생각한 숫자는 ?2
아까워요.  1 였는데요. 다시 해보세요. ㅠ
게임 5 회: 컴퓨터가 생각한 숫자는 ?3
아까워요.  5 였는데요. 다시 해보세요. ㅠ
게임 6 회: 컴퓨터가 생각한 숫자는 ?4
아까워요.  1 였는데요. 다시 해보세요. ㅠ
게임 7 회: 컴퓨터가 생각한 숫자는 ?5
아까워요.  4 였는데요. 다시 해보세요. ㅠ
게임 8 회: 컴퓨터가 생각한 숫자는 ?6
아까워요.  2 였는데요. 다시 해보세요. ㅠ
게임 9 회: 컴퓨터가 생각한 숫자는 ?7
아까워요.  3 였는데요. 다시 해보세요. ㅠ
게임 10 회: 컴퓨터가 생각한 숫자는 ?8
아까워요.  2 였는데요. 다시 해보세요. ㅠ
게임을 마칩니다.

In [ ]:
for i in range(5):
  print("한빛 아카데미")

한빛 아카데미
한빛 아카데미
한빛 아카데미
한빛 아카데미
한빛 아카데미

In [ ]:
for i in range(1,5,1):
  print("한빛 아카데미")

한빛 아카데미
한빛 아카데미
한빛 아카데미
한빛 아카데미

In [ ]:
for i in [1,2,3,4]:
  print("한빛 아카데미")

한빛 아카데미
한빛 아카데미
한빛 아카데미
한빛 아카데미

In [ ]:
for n in range(3,7):
  print(n,end=' ')

3 4 5 6

In [ ]:
hap = 0
for i in range(1,101,1):
  hap =  hap + i
print(hap)

5050

In [ ]:
hap = 0
for i in range(1001,2001,2):
  hap = hap + i
print(hap)

750000

In [ ]:
i = 0
for i in range(5):
  print("난생처음")

난생처음
난생처음
난생처음
난생처음
난생처음

In [ ]:
i = 0
while i < 5:
  print("난생처음")
  i += 1

난생처음
난생처음
난생처음
난생처음
난생처음

In [ ]:
num1, num2, num3, num4 = 0, 0, 0, 0
hap = 0

num1 = int(input("숫자 :"))
num2 = int(input("숫자 :"))
num3 = int(input("숫자 :"))
num4 = int(input("숫자 :"))

hap = num1 + num2 + num3 + num4

print("합계 ==> ",hap)

숫자 :10
숫자 :20
숫자 :30
숫자 :40
합계 ==>  100

In [ ]:
numList = [0,0,0,0]
hap = 0

numList[0] = int(input("숫자 :"))
numList[1] = int(input("숫자 :"))
numList[2] = int(input("숫자 :"))
numList[3] = int(input("숫자 :"))

hap = numList[0] + numList[1] + numList[2] + numList[3]

print("합계 ==> ",hap)

숫자 :10
숫자 :20
숫자 :30
숫자 :40
합계 ==>  100

In [ ]:
numList =[]
for i in range(0,4):
  numList.append(0)

hap = 0

for i in range(0, 4):
  numList[i] = int(input('숫자 :'))

hap = numList[0] + numList[1] + numList[2] + numList[3]
print("합계 ==>",hap)

숫자 :10
숫자 :10
숫자 :20
숫자 :30
합계 ==> 70

In [ ]:
numList = [10,20,30]
numList[1] =  200
print(numList)

[10, 200, 30]

In [ ]:
numList = [10,20,30]
numList.insert(1,123)
print(numList)

[10, 123, 20, 30]

In [ ]:
numList = [10,20,30]
del(numList[1])
print(numList)

[10, 30]

In [ ]:
numList = [10,20,30]
numList.remove(10)
print(numList)

[20, 30]

In [ ]:
numList = [10,20,30,10,10]
numList.remove(10)
print(numList)

[20, 30, 10, 10]

In [ ]:
numList = [10,20,30]
numList.pop()

30

In [ ]:
print(numList)

[10, 20]

In [ ]:
numList = [10,20,30,10,10]
numList.count(10)

3

In [ ]:
numList = [20,10,40,50,30]
numList.sort()
print(numList)

[10, 20, 30, 40, 50]

In [ ]:
numList = [20,10,40,50,30]
numList.sort(reverse= True)
print(numList)

[50, 40, 30, 20, 10]

In [ ]:
numList = [20,10,40,50,30]
numList.reverse()
print(numList)

[30, 50, 40, 10, 20]

In [ ]:
numList = [10,20,30]
numList2 = numList.copy()
print(numList2)

[10, 20, 30]

In [ ]:
numList2 = [[1,2,3,4],
            [5,6,7,8],
            [9,10,11,12]]

for i in range(0,3):
  for k in range(0,4):
    print(" ", numList2[i][k], end='')
print(" ")

  1  2  3  4  5  6  7  8  9  10  11  12

In [ ]:
print("홍길동 선수 경기 끝났습니다~~ 짝짝짝")
score = []
for i in range(5):
  jumsu = int(input("평가 점수 ==> "))
  score.append(jumsu)

hap = 0
for i in range(5):
  hap += score[i]

avg = hap / 5
print("심사위원 평균 점수 :", avg)

홍길동 선수 경기 끝났습니다~~ 짝짝짝
평가 점수 ==> 1
평가 점수 ==> 2
평가 점수 ==> 3
평가 점수 ==> 4
평가 점수 ==> 5
심사위원 평균 점수 : 3.0

In [ ]:
import random

toss = []
for i in range(100000):
  comA = random.choice(["가위","바위","보"])
  comB = random.choice(["가위","바위","보"])

  if comA == "가위":
    if comB == "가위":
      toss.append("없음")
    elif comB == "바위":
      toss.append("B")
    elif comB == "보":
      toss.append("A")
  elif comA == "바위":
    if comB == "가위":
      toss.append("A")
    elif comB == "바위":
      toss.append("없음")
    elif comB == "보":
      toss.append("B")
  elif comA == "보":
    if comB == "가위":
      toss.append("B")
    elif comB == "바위":
      toss.append("A")
    elif comB == "보":
      toss.append("없음")

awin = toss.count("A")
bwin = toss.count("B")
noWin = toss.count("없음")

print("10000번 중 컴퓨터 A의 승리 : ",awin)
print("10000번 중 컴퓨터 B의 승리 : ",bwin)
print("10000번 중 비긴 경기: ",noWin)

10000번 중 컴퓨터 A의 승리 :  33496
10000번 중 컴퓨터 B의 승리 :  33159
10000번 중 비긴 경기:  33345

In [ ]:
singer = {}
singer['이름'] = "트와이스"
singer["구성원수"] = 9
singer["데뷰"] = '서바이별 식스틴'
singer['대표곡']= "CRY FOR ME"

for k in singer.keys():
  print(k, "==>", singer[k])

이름 ==> 트와이스
구성원수 ==> 9
데뷰 ==> 서바이별 식스틴
대표곡 ==> CRY FOR ME

In [ ]:
store = {}
print("*** 물품과 재고량 입력 ***")
while True :
  item = input("입력 물품 ==> ")
  if item == 'z':
    break
  count =  int(input("재고량 ==>"))
  store[item] = count

print("*** 물품의 재고량 확인 ***")
while True :
  item = input("찾을 물품 ==>")
  if item == "":
    break
  if item in store :
    print(store[item],"개 남았어요")
  else :
    print("그 물품은 없어요")

*** 물품과 재고량 입력 ***
입력 물품 ==> 도시락
재고량 ==>14
입력 물품 ==> 우유
재고량 ==>3
입력 물품 ==> 김밥
재고량 ==>19
입력 물품 ==> z
*** 물품의 재고량 확인 ***
찾을 물품 ==>우유
3 개 남았어요
찾을 물품 ==>도시락
14 개 남았어요
찾을 물품 ==>김밥
19 개 남았어요
찾을 물품 ==>계란
그 물품은 없어요
찾을 물품 ==>z
그 물품은 없어요
찾을 물품 ==>

In [ ]:
print("A님. 두 숫자를 입력하세요.")
num1 = int(input("정수1 ==> "))
num2 = int(input("정수2 ==> "))
hap = num1 + num2
print("결과 :", hap)

print("B님. 두 숫자를 입력하세요")
num1 = int(input("정수1 ==> "))
num2 = int(input("정수2 ==> "))
hap = num1 + num2
print("결과 :", hap)

print("C님. 두 숫자를 입력하세요")
num1 = int(input("정수1 ==> "))
num2 = int(input("정수2 ==> "))
hap = num1 + num2
print("결과 :", hap)

A님. 두 숫자를 입력하세요.
정수1 ==> 2
정수2 ==> 3
결과 : 5
B님. 두 숫자를 입력하세요
정수1 ==> 4
정수2 ==> 5
결과 : 9
C님. 두 숫자를 입력하세요
정수1 ==> 6
정수2 ==> 7
결과 : 13

In [ ]:
def hapFunc():
  num1 = int(input("정수1 ==> "))
  num2 = int(input("정수2 ==> "))
  return num1 + num2

print("A님. 두 숫자를 입력하세요.")
hap = hapFunc()
print("결과 :", hap)

print("B님. 두 숫자를 입력하세요.")
hap = hapFunc()
print("결과 :", hap)

print("C님. 두 숫자를 입력하세요.")
hap = hapFunc()
print("결과 :", hap)

A님. 두 숫자를 입력하세요.
정수1 ==> 1
정수2 ==> 2
결과 : 3
B님. 두 숫자를 입력하세요.
정수1 ==> 3
정수2 ==> 4
결과 : 7
C님. 두 숫자를 입력하세요.
정수1 ==> 5
정수2 ==> 6
결과 : 11

In [ ]:
def plus (v1, v2):
  result = 0
  result = v1 + v2
  return result

hap = 0

hap = plus(100,200)
print("100과 200의 plus() 함수 결과는 ", hap)

100과 200의 plus() 함수 결과는  300

In [ ]:
def calc(v1, v2, op):
  result = 0
  if op =='+':
    resutl = v1 + v2
  elif op == '-':
    result = v1 - v2
  elif op == '/':
    result = v1 / v2

  return result

res = 0
var1, var2, oper = 0, 0, ""

oper = input("계산 입력 (+, -, *, /): ")
var1 = int(input("첫 번째 입력: "))
var2 = int(input("두 번째 입력: "))
res = calc(var1, var2,  oper)

print("## 계산기 : ", var1, oper, var2, "=", res)

계산 입력 (+, -, *, /): +
첫 번째 입력: 2
두 번째 입력: 3
## 계산기 :  2 + 3 = 0

In [ ]:
def para2_func(v1, v2):
  result = 0
  result = v1 + v2
  return result

def para3_func(v1, v2, v3):
  result = 0
  result = v1 + v2 + v3
  return result

hap = 0

hap = para2_func(10,20)
print("매개변수 2개 함수 호출 결과 ==> ", hap)
hap = para3_func(10,20,30)
print("매개변수 3개 함수 호출 결과 ==> ", hap)

매개변수 2개 함수 호출 결과 ==>  30
매개변수 3개 함수 호출 결과 ==>  60

In [ ]:
def para_func(v1, v2, v3=0):
  result = 0
  result = v1 + v2 + v3
  return result

hap = 0

hap = para_func(10,20)
print("매개변수 2개 함수 호출 결과 ==> ", hap)

hap = para_func(10,20,30)
print("매개변수 3개 함수 호출 결과 ==> ", hap)

매개변수 2개 함수 호출 결과 ==>  30
매개변수 3개 함수 호출 결과 ==>  60

In [ ]:
def func1():
  print("반환값이 없는 함수 실행")

func1()

반환값이 없는 함수 실행

In [ ]:
def func2():
  result = 100
  return result

hap = 0

hap = func2()
print("func2()에서 돌려준 값 ==> ",hap)

func2()에서 돌려준 값 ==>  100

In [ ]:
def func3():
  result1 = 100
  result2 = 200
  return result1, result2

hap1, hap2 = 0, 0

hap1, hap2 = func3()
print("func3()에서 돌려준 값 ==> ", hap1, hap2)

func3()에서 돌려준 값 ==>  100 200

In [ ]:
def myfunc():
  pass

In [ ]:
if True :
  pass
else:
  print("거짓입니다. ")

In [ ]:
def func1():
  global a
  a = 10
  print("func1()에서 a의 값", a)

def func2():
  print("func2()에서 a의 값", a)

a = 20

func1()
func2()

func1()에서 a의 값 10
func2()에서 a의 값 10

In [ ]:
from datetime import datetime, timedelta
def getCurrent():
  curDate = datetime.now()
  return curDate

def getAfterDate(now, day):
  retDate = now + timedelta(days = day)
  return retDate

nowDate, afterDate = None, None

nowDate = getCurrent()
print("현재 날짜와 시간 ==> ", nowDate)
afterDate = getAfterDate(nowDate, 100)
print("100일 후 날짜와 시간 ==> ",afterDate)

현재 날짜와 시간 ==>  2023-06-11 06:39:25.508943
100일 후 날짜와 시간 ==>  2023-09-19 06:39:25.508943

In [ ]:
def checkPassword(pwd):
  if len(pwd) < 8:
    return False

  if pwd.isalnum():
    return True
  else:
    return False

password = ""

password = input("새로운 비밀번호를 입력하세요 :")

if checkPassword(password):
  print("Good~ 비밀번호가 올바르게 생성되었어요")
else :
  print("오류! 비밀번호가 규칙에 맞지 않습니다. ")

새로운 비밀번호를 입력하세요 :12345678
Good~ 비밀번호가 올바르게 생성되었어요

In [ ]:
inFile = None
inStr = ''

inFile = open("", "r", encoding="UTF-8")

inStr = inFile.readline()
print(inStr, end='')

inStr = inFile.readline()
print(inStr, end='')

inStr = inFile.readline()
print(inStr, end='')

inFile. close()

In [ ]:
inFile = None
inStr = ''

inFile = open("", "r", encoding="UTF-8")

while True:
  inStr = inFile.readline()
  if inStr == "":
    break
  print(inStr, end='')


inFile. close()

In [ ]:
import turtle
turtle.shape('circle')
turtle.shape()
turtle.goto(100,100)
turtle.xcor()
turtle.ycor()

myStr = "FirstMyLife"
myStr.upper()
myStr.count('i')

In [ ]:
class Rabbit:
  shape = ""
  xPos = 0
  yPos = 0

  def goto(self, x,y):
    self.xPos = x
    self.yPos = y

rabbit = None
userX, userY = 0,0

rabbit = Rabbit()

rabbit.shape = "토끼"

while True:
  userX = int(input("토끼가 이동할 X좌표 ==> "))
  userY = int(input("토끼가 이동할 Y좌표 ==> "))

  rabbit.goto(userX, userY)

  print("**토끼의 현재 위치는 (",str(userX),",", str(userY)," )")

토끼가 이동할 X좌표 ==> 50
토끼가 이동할 Y좌표 ==> 100
**토끼의 현재 위치는 ( 50 , 100  )
토끼가 이동할 X좌표 ==> 100
토끼가 이동할 Y좌표 ==> -100
**토끼의 현재 위치는 ( 100 , -100  )
토끼가 이동할 X좌표 ==>

ValueError: ignored

In [ ]:
# 생성자의 형태
class Rabbit:
  shape = ""
  xPos = 0
  yPos = 0

  def __init__(self, value):
    self.shape = value

  def goto(self, x, y):
    self.xPos = x
    self.yPos = y

rabbit1 = Rabbit('원')
print('rabbit1의 모양:', rabbit1.shape)

rabbit2 = Rabbit('삼각형')
print('rabbit2의 모양:', rabbit2.shape)

rabbit3 = Rabbit('토끼')
print('rabbit3의 모양:', rabbit3.shape)

rabbit1의 모양: 원
rabbit2의 모양: 삼각형
rabbit3의 모양: 토끼

In [ ]:
# 소멸자
class Rabbit:
  shape = ""
  def __del__(self):
    print("이제",  self.shape,"는 자유에요~~")

rabbit = Rabbit()
rabbit.shape = "도비"
del(rabbit)

이제 도비 는 자유에요~~

In [ ]:
# 객체끼리 덧셈
class Rabbit:
  shape = ""
  def __add__(self, other):
    print("객체",self.shape,"와", other.shape,"가 친구가 되었습니다.")

rabbit1 = Rabbit()
rabbit1.shape = "엽기토끼"
rabbit2 = Rabbit()
rabbit2.shape = "도비"

rabbit1 + rabbit2

객체 엽기토끼 와 도비 가 친구가 되었습니다.

In [ ]:
class Line :
  length = 0
  def __init__(self, length):
    self.length = length
    print(self.length, '길이의 선이 생성되었습니다.')

  def __del__(self):
    print(self.length, '길이의 선이 제거되었습니다.')

  def __add__(self, other):
    return self.length + other.length

  def __lt__(self, other):
    return self.length < other.length

  def __eq__(self, other):
    return self.length == other.length

line1 = Line(10)
line2 = Line(5)

print('두 선의 합 :', line1 + line2)

if line1 < line2 :
  print('선2가 더 깁니다.')
  del(line1)
elif line1 ==line2 :
  print('두 선의 길이가 같습니다. ')
else :
  print('선1이 더 깁니다.')
  del(line2)

10 길이의 선이 생성되었습니다.
5 길이의 선이 생성되었습니다.
두 선의 합 : 15
선1이 더 깁니다.
5 길이의 선이 제거되었습니다.

In [ ]:
class Rabbit :
  shape = ""
  xPos = 0
  yPos = 0
  def goto(self, x, y):
    self.xPos = x
    self.yPos = y

class HouseRabbit(Rabbit):
  owner = ""
  def eatFood():
    print("집토끼가 모이를 먹습니다.")

class MOuntainRabbit(Rabbit):
  mountain = ""
  def eatwildglass():
    print("산토끼가 들풀을 먹습니다.")

In [ ]:
myList = [100,200, 300,400,500]

hap = 0
for i in range(0, 5):
  hap += myList[i]

print(hap)

1500

In [ ]:
myList = [100,200,300,400,500]

print(myList[4])
print(myList[-1])

500
500

In [ ]:
myTup = (200,100,500,300,400)

myTup

In [ ]:
var1 = float(input("첫 번째 입력: "))
var2 = float(input("두 번째 입력: "))

print('%.1f + %.1f = %.1f'%(var1, var2, var1+var2))
print('%.1f - %.1f = %.1f'%(var1, var2, var1-var2))
print('%.1f * %.1f = %.1f'%(var1, var2, var1*var2))
print('%.1f / %.1f = %f'%(var1, var2, var1/var2))

첫 번째 입력: 3
두 번째 입력: 7
3.0 + 7.0 = 10.0
3.0 - 7.0 = -4.0
3.0 * 7.0 = 21.0
3.0 / 7.0 = 0.428571

In [ ]:
menu1 = [input().split()]
menu2 = [input().split()]
menu3 = [input().split()]

b = int(input("메뉴를 선택하세요. "))

if b ==1:
  print(menu1(1),"을 선택하셨습니다.")
elif b ==2:
  print(menu2(1),"을 선택하셨습니다.")
elif b ==3:
  print(menu3(1),"을 선택하셨습니다.")

1. 삽입
2. 수정
3. 삭제
메뉴를 선택하세요. 2

TypeError: ignored

In [ ]:
year = int(input("연도를 입력 ==> "))

if year%4 == 0 :
  if year%100 != 0 and year%400 == 0 :
      print("윤년 입니다.")
  elif year%100 == 0 and year%400 != 0 :
      print("평년 입니다.")
  else :
    print("윤년 입니다.")
else :
  print("평년 입니다.")

연도를 입력 ==> 2021
평년 입니다.

In [ ]:
s = int(input("시작값 ==> "))
e = int(input("끝값 ==> "))
inc = int(input("증가값 ==> "))
i, hap = 0,0
total=0

for i in range(s,e+1,inc):
  hap = 0
  hap += i
  total += hap

print("%d에서 %d까지 %d씩 증가한 값의 합: %d"%(s, e,inc,a))

시작값 ==> 10
끝값 ==> 40
증가값 ==> 7
10에서 40까지 7씩 증가한 값의 합: 120

In [ ]:
myList = []
for i in range(0,100):
  myList.append(0)

print(myList)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
myList = [100,200,300,400,500]

hap = 0
for i in range(0, 5):
  hap += myList[i]

print(hap)

1500

In [ ]:
myList = [100,200,300,400,500]

print(myList[4])
print(myList[-1])

500
500

In [ ]:
myList = [100,200,300,400,500]

print(myList[2:])

[300, 400, 500]

In [ ]:
myList = [200,100,500,300,400]
myList.sort(reverse = True)
print(myList)

[500, 400, 300, 200, 100]

In [ ]:
myTup = (200,100,500,300,400)
len(myTup)

5

In [ ]:
myDict = {1:'a', 2:'b', 3:'c'}
print(myDict[1])

a

In [ ]:
result = [0]*6
import random
print('주사위를 100회 던집니다.')
total = 0
avg = 0

result=[0]*6
for i in range(100):
    dice=random.randint(1,6)
    total += dice
    avg = total/100

print("100번 던진 주사위 값의 평균은",avg,"입니다.")

주사위를 100회 던집니다.
100번 던진 주사위 값의 평균은 3.83 입니다.

In [ ]:
class Car :
  # 자동차의 속성
  color = ""
  speed = 0

  # 자동차의 행동
  def upSpeed(증가할_속도량):
    # 현재 속도에서 증가할_속도량만큼 속도를 올리는 코드
  def downSpeed(감소할_속도량):
    # 현재 속도에서 증가할_속도량만큼 속도를 내리는 코드

# 차량1의 색상은 빨강이고, 현재 속도는 30입니다.
# 차량2의 색상은 파랑이고, 현재 속도는 60입니다.

class Car1 :
  color = 'red'
  speed = '30'

class Car2 :
  color = 'blue'
  speed = '60'

IndentationError: ignored

In [ ]:
pocket = ['스마트폰','교통카드','현금']
item = input('결제 수단 입력:')
price = 2000
if item in pocket and item == '현금':
  print('택시를 타세요.')
elif item in pocket and item == '교통카드':
  print('버스를 타세요.')
else:
  print('걸어가세요.')

결제 수단 입력:현금
택시를 타세요.

In [ ]:
import random
rps = ['가위', '바위','보']
com = random.choice(rps)
player = input('가위, 바위, 보 중에서 하나 입력: ')
if player == '가위':
  if com == '가위':
    result = '비김'
  elif com == '바위':
    result = '졌음'
  elif com == '보':
    result = '이김'
elif player == '바위':
  if com == '가위':
    result = '이김'
  elif com == '바위':
    result = '비김'
  elif com == '보':
    result = '졌음'
elif player == '보':
  if com == '가위':
    result = '졌음'
  elif com == '바위':
    result = '이김'
  elif com == '보':
    result = '비김'
elif player ==

In [ ]:
# 자동차 클래스 만들기
class Car :
  # 멤버 변수
  manufacturer = ''
  color = ''
  price = 0
  displacement = 0
  fuel = ''
  x = ''
  y = ''

  # 클래스 생성자
  def __init__(self, manufacturer = 'none', color = 'none'):
    self.manufacturer = manufacturer
    self.color = color

  # 멤버 메서드(함수)
  def forward(self):
    self.x += 10
  def bacward(self):
    self.x -= 10
  def stop(self):
    prnt("멈춘다.")
  def onMusic(self):
    prnt("음악을 켠다.")
  def onHeater(self):
    prnt("히터를 켠다.")
  def onMusic(self,x,y):
    self.x += x
    self.y += y
    prnt("현재 위치에서 (',x,',',y,') 만큼 이동한다.")
  def showInfo(self):
    print('제조사: ',self.manufanturer, '색상:',self.color,'위치: (', self.x,',', self.y,')')
    print('============')

car1 = Car()
print(car1.manufacturer)
print(car.color)
car1.color = '노랑'
car1.showInfo()

car2 = Car('가아','노랑')
car2.showInfo()

for i in range(5):
  car2.forward()
car2.showInfo()

car2.color = '초록'
car2.showInfo()

car2.move(100,200)
car2.showInfo()

car3 = Car()
car3.showInfo()

# 클래스 소멸자
def __dek__(self):
  print(self.manufacturer, '차는 이제 소멸됩니다.')

car3 = Car('쌍용','파랑')
car3.showInfo()
del(car3)
car3.showInfo()

# 덧셈 연산자 정의
def __add__(self, other):
  print(self.manufacuture,'와',other.manufacturer,"가 합병되었습니다.")
car1 = Car('현대','빨강')
car2 = Car('기아','노랑')
car1.showInfo()
car2.showInfo()
car1 + car2

none

NameError: ignored

In [ ]:
def is_hexadecimal(character):
  return all(c.isdigit() or c.lower() in 'abcdef' for c in character)

for i in range(4):
  character = input("16진수 한 글자를 입력 -> ")
  if is_hexadecimal(character) and int(character, 16):
    decimal_number = int(character, 16)
    print("10진수 => ",decimal_number)
  else:
    print("16진수가 아닙니다.")

16진수 한 글자를 입력 -> 8
10진수 =>  8
16진수 한 글자를 입력 -> A
10진수 =>  10
16진수 한 글자를 입력 -> D
10진수 =>  13
16진수 한 글자를 입력 -> z
16진수가 아닙니다.

In [ ]:
num =  input("2자리 정수를 입력(10~99) -> ")

if len(num) == 2 and num[0] ==num[1]:
  print("yes! 10의자리와 1의 자리가 같습니다.")
else :
  print("no! 10의 자리와 1의 자리가 다릅니다.")

2자리 정수를 입력(10~99) -> 63
no! 10의 자리와 1의 자리가 다릅니다.

In [ ]:
for i in range(3):
  year = int(input("연도를 입력하세요. (1~2021의 수) -> "))

  if year % 4 == 0:
    if year % 100 == 0:
      if year % 400 == 0:
        print(year, '년은 윤년입니다.')
      else:
        print(year, '년은 윤년이 아닙니다.')
    else:
      print(year, '년은 윤년입니다.')
  else:
    print(year,"년은 윤년이 아닙니다.")

연도를 입력하세요. (1~2021의 수) -> 2023
2023 년은 윤년이 아닙니다.
연도를 입력하세요. (1~2021의 수) -> 2024
2024 년은 윤년입니다.
연도를 입력하세요. (1~2021의 수) -> 2100
2100 년은 윤년이 아닙니다.

In [ ]:
number = int(input('1~99 사이의 정수를 입력하세요. ->'))

num = str(number)

if '3' in num or '6' in num:
  if num.count('3') + num.count('6') + num.count('9') == 2:
    print('박수짝짝')
  else :
    print('박수짝')
else :
  print(num)

1~99 사이의 정수를 입력하세요. ->1
1

In [ ]:
game_table = [[str(row * 10 + col) for col in range(10)] for row in range(10)]

for row in range(10):
  for col in range(10):
    number = int(game_table[row][col])

    num = str(number)

    if '3' in num or '6' in num or '9' in num:
      if num.count('3') + num.count('6') + num.count('9') == 2 :
        game_table[row][col] = '박수짝짝'
      else :
        game_table[row][col] = '박수짝'
    else:
      game_table[row][col] = str(number)

for row in game_table :
  print(" ".join(row))

0 1 2 박수짝 4 5 박수짝 7 8 박수짝
10 11 12 박수짝 14 15 박수짝 17 18 박수짝
20 21 22 박수짝 24 25 박수짝 27 28 박수짝
박수짝 박수짝 박수짝 박수짝짝 박수짝 박수짝 박수짝짝 박수짝 박수짝 박수짝짝
40 41 42 박수짝 44 45 박수짝 47 48 박수짝
50 51 52 박수짝 54 55 박수짝 57 58 박수짝
박수짝 박수짝 박수짝 박수짝짝 박수짝 박수짝 박수짝짝 박수짝 박수짝 박수짝짝
70 71 72 박수짝 74 75 박수짝 77 78 박수짝
80 81 82 박수짝 84 85 박수짝 87 88 박수짝
박수짝 박수짝 박수짝 박수짝짝 박수짝 박수짝 박수짝짝 박수짝 박수짝 박수짝짝

In [ ]:
alphabet = input('소문자 알파뱃 하나를 입력하시오 >> ')

for i in range(ord(alphabet),ord('a')-1,-1):
  for j in range(ord('a'), i + 1):
    print(chr(j), end= "")
  print()

소문자 알파뱃 하나를 입력하시오 >> z
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxy
abcdefghijklmnopqrstuvwx
abcdefghijklmnopqrstuvw
abcdefghijklmnopqrstuv
abcdefghijklmnopqrstu
abcdefghijklmnopqrst
abcdefghijklmnopqrs
abcdefghijklmnopqr
abcdefghijklmnopq
abcdefghijklmnop
abcdefghijklmno
abcdefghijklmn
abcdefghijklm
abcdefghijkl
abcdefghijk
abcdefghij
abcdefghi
abcdefgh
abcdefg
abcdef
abcde
abcd
abc
ab
a

In [ ]:

shapes = [
    ['*','**','***',"****",'*****','******','*******','********','*********','**********','***********','************','*************','**************','***************'],
    ['****************','***************','*************','************','***********','**********','*********','********','*******','******','*****',"****",'***','**','*'],
    ['***************',' **************','  *************','   ************','    ***********',
     '     **********','      *********','       ********','        *******','         ******',"          *****",'           ****','            ***','             **','              *'],
    ['              *','             **','            ***','           ****',"          *****",'         ******','        *******','       ********','      *********','     **********','    ***********','   ************','  *************',' **************','***************'],
    ['              *','             ***','            *****','           *******','          *********','         ***********','        *************',
     '       ***************','      *****************','     *******************','    *********************','   ***********************','  *************************',' ***************************','*****************************'],
    ['*****************************',' ***************************','  *************************','   ***********************','    *********************','     *******************','      *****************','       ***************',
     '        *************','         ***********','          *********','           *******','            *****','             ***','              *'],
    ['       *','      ***','     *****','    *******','   *********','  ***********',' *************',
     '***************',' *************','  ***********','   *********','    *******','     *****','      ***','       *'],
    ['***************',' *************','  ***********','   *********','    *******','    *****','      ***','       *','      ***',
     '     *****',"    *******",'   *********','  ***********',' *************','***************']
]
while True :
  shape_number = int(input("출력 도형의 모양 번호를 입력하세요. (종료시 0 입력):"))

  if shape_number == 0:
    print("삼각형 그리기 프로그램을 종료합니다.")
    break

  if shape_number < 1 or shape_number > 9:
    print("올바른 모양 번호를 입력하세요.")
    continue

  line_number = int(input("출력 도형의 라인 수를 홀수(3~15)로 입력하세요:"))
  if line_number < 3 or line_number > 15 or line_number % 2 == 0:
    print("올바른 라인 수를 입력하세요.")
    continue


  shape = shapes[shape_number - 1]

  for i in range(line_number):
    print(shape[i])

출력 도형의 모양 번호를 입력하세요. (종료시 0 입력):4
출력 도형의 라인 수를 홀수(3~15)로 입력하세요:5
              *
             **
            ***
           ****
          *****
출력 도형의 모양 번호를 입력하세요. (종료시 0 입력):6
출력 도형의 라인 수를 홀수(3~15)로 입력하세요:15
*****************************
 ***************************
  *************************
   ***********************
    *********************
     *******************
      *****************
       ***************
        *************
         ***********
          *********
           *******
            *****
             ***
              *
출력 도형의 모양 번호를 입력하세요. (종료시 0 입력):0
삼각형 그리기 프로그램을 종료합니다.

In [ ]:
def check_collision(x1, y1):
    base_rect = [(100, 100), (200, 200)]

    input_rect = [(x1, y1), (x1 + 100, y1 + 100)]
    if base_rect[0][0] > input_rect[1][0] or base_rect[1][0] < input_rect[0][0]:
        return False

    if base_rect[0][1] > input_rect[1][1] or base_rect[1][1] < input_rect[0][1]:
        return False
    return True
x = int(input("왼쪽 위 꼭지점 x 좌표를 입력하세요: "))
y = int(input("왼쪽 위 꼭지점 y 좌표를 입력하세요: "))
if check_collision(x, y):
    print("두 사각형이 충돌하였습니다.")
else:
    print("두 사각형은 무사합니다.")

왼쪽 위 꼭지점 x 좌표를 입력하세요: 30
왼쪽 위 꼭지점 y 좌표를 입력하세요: 20
두 사각형이 충돌하였습니다.

In [ ]:
import turtle
def check_collision(x1, y1, x2, y2):
    base_rect = [(100, 100), (200, 200)]
    input_rect = [(x1, y1), (x2, y2)]

    if base_rect[0][0] > input_rect[1][0] or base_rect[1][0] < input_rect[0][0]:
        return False

    if base_rect[0][1] > input_rect[1][1] or base_rect[1][1] < input_rect[0][1]:
        return False
    return True
# 입력받은 사각형 좌표
x1 = int(turtle.textinput("입력", "왼쪽 위 꼭지점 x 좌표를 입력하세요: "))
y1 = int(turtle.textinput("입력", "왼쪽 위 꼭지점 y 좌표를 입력하세요: "))
x2 = int(turtle.textinput("입력", "오른쪽 아래 꼭지점 x 좌표를 입력하세요: "))
y2 = int(turtle.textinput("입력", "오른쪽 아래 꼭지점 y 좌표를 입력하세요: "))

# 충돌 판별
if check_collision(x1, y1, x2, y2):
    turtle.write("두 사각형이 충돌하였습니다.", False, "center", ("맑은 고딕", 20))
else:
    turtle.write("두 사각형은 무사합니다.", False, "center", ("맑은 고딕", 20))
turtle.done()

TclError: ignored

In [ ]:
noList = [[1,2,3,4],
          [5,6,7,8],
          [9,10,11,12]]

for i in range(0, 3):
  for j in range(0, 4):
    print("%3d"% noList[i][j], end='')
  print("")

  1  2  3  4
  5  6  7  8
  9 10 11 12

In [ ]:
noList = [[1,2,3,4],
          [5,6,7,8],
          [9,10,11,12]]

for i in range(0,3):
  for j in range(0,4):
    print("%3d"% noList[i][j], end='')
  print("")

  1  2  3  4
  5  6  7  8
  9 10 11 12

In [ ]:
# 리스트 조작 함수
noList = [1,2,3]
noList.append(4)
noList.append(5)
print('1\t',noList)

1	 [1, 2, 3, 4, 5]

In [ ]:
noList.insert(3,44)
print('2\t',noList)

2	 [1, 2, 3, 44, 4, 5]

In [ ]:
noList.remove(44)
print('3\t',noList)

3	 [1, 2, 3, 4, 5]

In [ ]:
noList.insert(5,2)
print('4\t',noList)

4	 [1, 2, 3, 4, 5, 2]

In [ ]:
count = noList.count(2)
print('5\t',count)

5	 2

In [ ]:
noList.remove(2)
print('6\t',noList)

6	 [1, 3, 4, 5, 2]

In [ ]:
noList.remove(2)
print('7\t',noList)

7	 [1, 3, 4, 5]

In [ ]:
noList.pop()
print('8\t',noList)

8	 [1, 3, 4]

In [ ]:
noList.sort()
print('9\t',noList)

9	 [1, 3, 4]

In [ ]:
noList.sort(reverse=True)
print('10\t',noList)

10	 [4, 3, 1]

In [ ]:
noList.reverse()
print('11\t',noList)

11	 [1, 3, 4]

In [ ]:
noList2 = noList.copy()
print('12\t',noList2)

12	 [1, 3, 4]

In [ ]:
# 2차원 리스트의 생성과 활용
noList = [[1,2,3,4],
          [5,6,7,8],
          [9,10,11,12]]

for i in range(0,3):
  for j in range(0,4):
    print("%3d"% noList[i][j], end='')
  print('')

# 튜플 생성하기
noTuple = (1,2,3)
print(noTuple)
noTuple2 = 1,2,3
print(noTuple2)

# 튜플 항목이 하나일 때도 값 뒤에 ,를 붙여야 함
tup1 = (1)
tup2 = 1
tup3 = (1,)
tup4 = 1,
print(tup1, tup2, tup3, tup4)
print(type(tup1), type(tup2), type(tup3), type(tup4))

# 튜플 접근하기
hap = 0
noTuple = (1,2,3,4)
for i in range(4):
  print(noTuple[i], end=' ')
  hap += noTuple[i]
print("\n.총합 = ",hap)

# 튜플로 범위에 접근하기
print('2-1.', noTuple[1:3])
print('2-2.', noTuple[1:])
print('2-3.', noTuple[:3])

  1  2  3  4
  5  6  7  8
  9 10 11 12
(1, 2, 3)
(1, 2, 3)
1 1 (1,) (1,)
<class 'int'> <class 'int'> <class 'tuple'> <class 'tuple'>
1 2 3 4
.총합 =  10
2-1. (2, 3)
2-2. (2, 3, 4)
2-3. (1, 2, 3)

In [ ]:
# 튜플의 더하기 및 곱하기 연산
t1 = ('one','two')
t2 = (1,2,3,4)
print('3-1', t1 + t2)
print('3-2',t1 * 3)

3-1 ('one', 'two', 1, 2, 3, 4)
3-2 ('one', 'two', 'one', 'two', 'one', 'two')

In [ ]:
# 튜플 값을 조작하고 싶을 땐 리스트로 변환
noTuple1 = (1,2,3,4)
noList1 = list(noTuple1)
print('4-1',noList1)
noList1.append(5)
print('4-2',noList1)
noTuple2 = tuple(noList1)
print('5',noTuple2)

4-1 [1, 2, 3, 4]
4-2 [1, 2, 3, 4, 5]
5 (1, 2, 3, 4, 5)

In [ ]:
# 딕셔너리 생성과 활용
ekDict = {1:'one',2:'two',3:'three'}
print(ekDict)
print(ekDict[2])

keDict = {'one':1, 'two':2, 'three':3}
print(keDict)
print(keDict['two'])

# 딕셔너리 추가와 변경
ekDict = {1:'one',2:'two',3:'three'}
ekDict[4] = 'four'
print(ekDict)
ekDict[4] = '넷'
print(ekDict)
del(ekDict[2])
print(ekDict)
del(ekDict[4])
print(ekDict)

{1: 'one', 2: 'two', 3: 'three'}
two
{'one': 1, 'two': 2, 'three': 3}
2
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
{1: 'one', 2: 'two', 3: 'three', 4: '넷'}
{1: 'one', 3: 'three', 4: '넷'}
{1: 'one', 3: 'three'}

In [ ]:
keDict = {'하나':'one','둘':'two','셋':'three'}
print(keDict.keys())
print(list(keDict.keys()))
print()
print(keDict.values())
print(list(keDict.values()))
print()
print('하나' in keDict)
if '하나' in keDict :
  print('하나는 ekDict에 존재합니다. \n하나의 영단어는 ',keDict['하나'],'입니다. ')

# 딕셔너리의 키와 값 출력하기
keDict = {'하나':'one','둘':'two','셋':'three'}
for key in keDict.keys():
  print(key,keDict[key])
print()
for key in ['하나','둘','셋']:
  print(key,keDict[key])

dict_keys(['하나', '둘', '셋'])
['하나', '둘', '셋']

dict_values(['one', 'two', 'three'])
['one', 'two', 'three']

True
하나는 ekDict에 존재합니다.
하나의 영단어는  one 입니다.
하나 one
둘 two
셋 three

하나 one
둘 two
셋 three

In [ ]:
for i in range(3):
  for j in range(3):
    print("*", end=' ')
  print()

for i in range(3):
  for j in range(3):
    if (i==j):
      print("%2d"%(i+i), end='')
    else:
      print("%2d"%0, end='')
  print()

for i in range(1,4,1):
  for j in range(1,4,1):
    if (i==j):
      print("%2d"%i, end='')
    else:
      print("%2d"%0, end='')
  print()

* * *
* * *
* * *
 0 0 0
 0 2 0
 0 0 4
 1 0 0
 0 2 0
 0 0 3

In [ ]:
singer = {}
singer['이름'] = '트와이스'
singer['구성원수'] = 9
singer['대표곡'] = 'CRY FOR ME'

for k in singer.keys():
  print(k, "==>",singer[k])

singer = {}

singer['이름'] ="GReeN"
singer['구성원수'] = 1
singer['데뷰'] = '서바이벌 식스틴'
singer['대표곡'] = "CRY ROF ME"

for k in singer.keys():
  print(k, '==>',singer[k])

이름 ==> 트와이스
구성원수 ==> 9
대표곡 ==> CRY FOR ME
이름 ==> GReeN
구성원수 ==> 1
데뷰 ==> 서바이벌 식스틴
대표곡 ==> CRY ROF ME

In [ ]:
store = {}
print("*** 물품과 재고량 입력 ***")
while True :
  item = input("입력 물품 ==> ")
  if item == 'z':
    break
  count = int(input("재고량 ==>"))
  store[item] = count

print("*** 물푸뫄 재고량 확인 ***")
while True:
  item = input("찾을 물품 ==>")
  if item == "":
    break
  if item in store:
    print(store[item],'개 남았어요')
  else:
    print("그 물품은 없어요.")

*** 물품과 재고량 입력 ***
입력 물품 ==> 김밥
재고량 ==>13
입력 물품 ==> 우유
재고량 ==>3
입력 물품 ==> 센드위치
재고량 ==>5
입력 물품 ==> ㅋ
재고량 ==>z

ValueError: ignored

In [ ]:
import turtle as t
import random

ttList = []
colList = ['red','green','blue','magenta','orange','gray']
shList = ["circle","square","triangle","turtle"]

t. setup(550,550)
t. screensize(500,500)

# (거불이 객체, 선색깔, x, y) -> ttList[0]~[99]
for i in range(0,100):
  shape = random.choice(shList)
  color = random.choice(colList)
  x = random.randint(-250, 250)
  y = random.randint(-250, 250)
  myT = t.turtle(shape) # 생성자를 이용해서 터틀 객체(instance)를 생성
  tup = (myT, color, x, y)
  # print(tup)
  ttList.append(tup)

for tup in ttList : # 리스트에 담긴 거북이 정보로 그림 그리기
  #(<turtle.Turtle object at 0x000001EFFC324F10>, 'black',88, -38)
  myT = tup[0] #거북이 객체를 myT에 할당
  myT.pencolor(tup[1]) # color
  myT.goto(tup[2],tup[3]) # x,y

t.done()

TclError: ignored

In [ ]:
# 함수 정의 부분
def compare(n1, n2):
  if n1 > n2 :
    return '첫번째 수가 큽니다.'
  elif n1 < n2:
    return '두 번째 수가 큽니다.'
  else :
    return '두 수는 같습니다.'

# main 부분
for i in range(3):
  n1 = int(input("첫번째 점수 입력 => "))
  n2 = int(input("두번째 점수 입력 => "))
  res = compare(n1, n2)
  print(res)

첫번째 점수 입력 => 7
두번째 점수 입력 => 5
첫번째 수가 큽니다.
첫번째 점수 입력 => 8
두번째 점수 입력 => 10
두 번째 수가 큽니다.
첫번째 점수 입력 => -4
두번째 점수 입력 => 5
두 번째 수가 큽니다.

In [ ]:
# 함수 정의 부분
def add(n1, n2):
  return n1 + n2
def sub(n1, n2):
  return n1 - n2
def mul(n1, n2):
  return n1*n2
def div(n1, n2):
  return n1 / n2
def pow(n1, n2):
  return n1 ** n2
def calc(n1, n2, op):
  res = 0
  if op == '+':
    res = add(n1, n2)
  elif op == '-':
    res = sub(n1, n2)
  elif op == '*':
    res = div(n1, n2)
  elif op == '/':
    res = pow(n1, n2)
  elif op == 'c':
    res = compare(n1, n2)
  else:
    res = op + "은 잘못된 연산자입니다. 지원 가능한 연산자를 확인하세요."

# main 부분
res = 0
while True :
  op = input("연산자 입력(+ - * / ** c(대소비교),# 프로그램종료: Q,q)=>")
  if (op == 'Q') or (op == 'q'):
    print("프로그램 종료합니다.")
    break
  n1 = int(input(input("첫번째 점수 입력 => ")))
  n2 = int(input(input("두번째 점수 입력 => ")))
  res = calc(n1, n2, op)
  print("** 계산결과 :", n1, op, n2, '=',res)

연산자 입력(+ - * / ** c(대소비교),# 프로그램종료: Q,q)=>5
첫번째 점수 입력 => 4
4

ValueError: ignored

In [ ]:
def calc(n1, n2):
  r1 = n1 + n2
  r2 = n1 - n2
  r3 = n1 * n2
  r4 = n1 / n2

  return r1,r2,r3,r4

def totAvg(n1, n2, n3 = 0.0, n4 = 0.0, n5 = 0.0):
  tot = n1 + n2 + n3 + n4 + n5
  # avg = tot /5
  if n3 == 0.0:
    avg = tot/2
  elif n4 == 0.0:
    avg = tot/3
  elif n5 == 0.0:
    avg = tot/4
  else:
    avg = tot/5
  return tot, avg

# main 부분
tot, avg = totAvg(1,1)
print('총합:', tot,'\t\t평균:',avg)

tot, avg = totAvg(1,1,1)
print('총합:', tot,'\t\t평균:',avg)

tot, avg = totAvg(1,1,1,1.0)
print('총합:', tot,'\t\t평균:',avg)

tot, avg = totAvg(1,5,1,12,1.0)
print('총합:', tot,'\t\t평균:',avg)

총합: 2.0 		평균: 1.0
총합: 3.0 		평균: 1.0
총합: 4.0 		평균: 1.0
총합: 20.0 		평균: 4.0

In [ ]:
from re import X
# 자동차 클래스 만들기
class Car:
  # 멤버 변수
  manufacturer = '' # 제조사
  color = ''        # 색상
  price = 0         # 판매가격
  displacement = 0  # 배기량
  fuel = ' '        # 연료(사솔린, 디젤, 전기, 수소)

# 클래스 생성자
  def __init__(self, manufacturer='none', color='none'):
    self.manufacturer = manufacturer
    self.cokir = color

# 멤버 메서드(함수)
  def forward(self):
    self.x += 10
  def backward(self):
    self.x -= 10
  def stop(self):
    print('멈춘다.')
  def onMusic(self):
    print('음악을 켠다.')
  def onHeater(self):
    self.x += x
    self.y += y
    print('현재 위치에서 (', x,', ', y,') 만큼 이동한다.')
  def showInfo(self):
    print('제조사: ',self.manufacture,'색상:', self.color,'위치: (', sef.x,', self.y,')
    print('===============')

car1 = Car()
print(car.manufacturer)
print(car1.color)
car1.color = '노랑'
car1.showInfo()

car2 = Car('가아','노랑')
car2.showInfo()

for i in range(5):
  car2.forward()
car2.showInfo()

car2.color = '초록'
car2.showInfo()

car2.move(100,200)
car2.showInfo()

car3 = Car()
car3.showInfo()

# 클래스 소멸자
def __dek__(self):
  print(self.manufacturer,'차는 이제 소멸됩니다.')

In [ ]:
inFile = None
inStr = ''

inFile = open(" ",'r',encording = 'UTF-8')

inStr = inFile.readline()
print(inStr, end ='')

inFile.close()

print("")

In [ ]:
class student:
  hak = 0
  name = ""
  kor = 0
  eng = 0
  math = 0
  Tot = 0
  avg = 0
  def __int__(self,hak=0, name="",kor=0,eng=0,math=0):
    self.hak = hak
    self.name = name
    self.kor = kor
    self.eng =  eng
    self.math = math
  def __lt__(self,other):
    return self.Tot < other.Tot
  def __gt__(self,other):
    return self.Tot > other.Tot
  def __eq__(self,other):
    return self.Tot == other.Tot
  def __add__(self,other):
    return self.Tot + other.Tot
  def getTotal(self):
    self.Tot = self.kor + self.eng + self.math
    return self.Tot
  def getAvg(self):
    self.Avg = (self.kor + self.eng + self.math)/3
    return self.Avg

# main
s1 = student(1004,'정영애',50,70,100)
s2 = student(1005,'김재현',100,100,100)
print(s1, name,'의 총점은 ',s1.getTotal())
print(s2, name,'의 총점은 ',s2.getTotal())
print(s1, name,'의 평균은 ',s1.getAvg())
print(s2, name,'의 총점은 ',s1.getAvg())
print('\n')
print(s1.name,'평균 + ',s2.name, '의 총점보가 작습니다.')
if s1 < s2:
  print(s1.name,'의 총점이',s2.name,'의 총점보다 작습니다.')
elif s1 == s2:
  print(s1.name,'의 총점과',s2.name,'의 총점이 같습니다.')
else :
  print(s1.name,'의 총점이',s2.name,'의 총점보다 큽니다.')

TypeError: ignored

In [ ]:
class Rect:
  name = ''
  width = 0
  height = 0
  area = 0

  def __init__(self.name = '사각형', self.width,'이고, 새로는', self.height,'입니다.'):
    print(self.name, '이/가 소별합니다.')
  def __add__(self,other):
    return self.area + other.area
  def __lt__(self,other):
    return self.area < other.area
  def __gt__(self,other):
    return self.area > other.area
  def __eq__(self,other):
    return self.area == other.area
  def getArea(self):
    self.area =self. width * self.height
    return self.area

# main
r1 = Rect("네모1", 30, 40)
r2 = Rect("네모2", 10, 30)
print(r1.name, "의 면저: ", r1.getArea())
print(r2.name, "의 면적: ", r2.getArea())

if r1 < r2:
  print(r1. name,"의 면적이",r2.name,"의 면적보다 작습니다.")
elif r1 == r2:
  print(r1.name,"의 면적이", r2.name,"의 면적보다 같습니다.")
elif r1 > r2:
  print(r1.name,"의 면적이", r2.name,"의 면적보다 큽니다.")

SyntaxError: ignored

In [ ]:
pi = 3,141593

class Circle:
  name = ""
  radius = 0.0
  circ = 0.0
  area = 0.0

  def __init__(self, name = '반지름', radius = 0):
    self.name = name
    self.radius = radius
    print("반지름", self.radius, '인 원', self.name,"이/가 생성됨.")
  def __del__(self):
    print(self.name, "이/가 메모리에서 소멸합니다.")
    return self.area
  def getArea(self):
    self.area = pi * (self.radius**2)
    return self.area
  def getCirc(self):
    self.circ = 2 * pi * self.radius
    return self.circ

# main
print("# 객체 생성 부분 #")
c1 = Circle('해달이', 10)
c2 = Circle('선문이',7)
print(c1.name,"의 ")

SyntaxError: ignored

In [ ]:
def calc(n1, n2):
  n1 = int(input("첫번째 점수 입력 => "))
  n2 = int(input("두번째 점수 입력 => "))

  r1 = n1 + n2
  r2 = n1 - n2
  r3 = n1 * n2
  r4 = n1 / n2

  return r1,r2,r3,r4

res = calc()
print(res)

TypeError: ignored

In [ ]:
## 반환값이 여러 개인 함수
# 함수 정의 부분
def calc(no1, no2):
  result1, result2 = 0,0
  result1 = no1 + no2
  result2 = no1 - no2
  result3 = no1 * no2
  result4 = no1 / no2
  return result1, result2, result3, result4

# 전역변수 선언 부분
addRes, subRes, mulRes, divRes = 0, 0, 0, 0

# 메인 코드 부분
addRes, subRes, mulRes, divRes = calc(10,20)
print("calc()에서 돌려준 값 덧셈, 곱셈, 나눗셉 결과 -> ", addRes, subRes, mulRes, divRes)

calc()에서 돌려준 값 덧셈, 곱셈, 나눗셉 결과 ->  30 -10 200 0.5

In [ ]:
# 자동차 클래스 만들기
class Car :
  # 멤버 변수
  manufacturer = ''
  color = ''
  price = 0
  displacement = 0
  fuel = ''
  x = ''
  y = ''

  # 클래스 생성자
  def __init__(self, manufacturer = 'none', color = 'none'):
    self.manufacturer = manufacturer
    self.color = color

  # 멤버 메서드(함수)
  def forward(self):
    self.x += 10
  def backard(self):
    self.x -= 10
  def stop(self):
    prnt("멈춘다.")
  def onMusic(self):
    prnt("음악을 켠다.")
  def onHeater(self):
    prnt("히터를 켠다.")
  def onMusic(self,x,y):
    self.x += x
    self.y += y
    print("현재 위치에서 (',x,',',y,') 만큼 이동한다.")
  def showInfo(self):
    print('제조사: ',self.manufanturer, '색상:',self.color,'위치: (', self.x,',', self.y,')')
    print('============')

car1 = Car()
print(car1.manufacturer)
print(car.color)
car1.color = '노랑'
car1.showInfo()

car2 = Car('가아','노랑')
car2.showInfo()

for i in range(5):
  car2.forward()
car2.showInfo()

car2.color = '초록'
car2.showInfo()

car2.move(100,200)
car2.showInfo()

car3 = Car()
car3.showInfo()

# 클래스 소멸자
def __dek__(self):
  print(self.manufacturer, '차는 이제 소멸됩니다.')

car3 = Car('쌍용','파랑')
car3.showInfo()
del(car3)
car3.showInfo()

# 덧셈 연산자 정의
def __add__(self, other):
  print(self.manufacuture,'와',other.manufacturer,"가 합병되었습니다.")
car1 = Car('현대','빨강')
car2 = Car('기아','노랑')
car1.showInfo()
car2.showInfo()
car1 + car2


class Car :
  # 자동차의 속성
  color = ""
  speed = 0

  # 자동차의 행동
  def upSpeed(증가할_속도량):
    self.x += 10
  def downSpeed(감소할_속도량):
    # 현재 속도에서 증가할_속도량만큼 속도를 내리는 코드

# 차량1의 색상은 빨강이고, 현재 속도는 30입니다.
# 차량2의 색상은 파랑이고, 현재 속도는 60입니다.

class Car1 :
  color = 'red'
  speed = '30'

class Car2 :
  color = 'blue'
  speed = '60'

In [ ]:
class Car:
  name = ""
  color = ""
  speed = 50
  displacement = 0
  fuel = 0

  def __init__(self,name = 'none',color = 'none',speed=50):
    self.name = name
    self.speed = speed

  def getName(self):
    return self.name

  def getcolor(self):
    return self.color

  def upSpeed(self, value):
    self.speed += value
    return self.speed

  def downSpeed(self, value):
    self.speed -= value
    return self.speed

car1, car2 = None, None

car1 = Car('아우디','red', 10)
car2 = Car('벤츠','blue',10)

print('%s의 색은 %s이고, 현재 속도는 %d입니다.'%(car1.getName(),car1.getcolor(),car1.upSpeed()))
print('%s의 색은 %s이고, 형재 속도는 %d입니다.'%(car2.getName(),car2.getcolor(),car2.downSpeed()))

TypeError: ignored

In [ ]:
class Car:
    def __init__(self, name='none', color='none', speed=50):
        self.name = name
        self.color = color
        self.speed = speed

    def getName(self):
        return self.name

    def getColor(self):
        return self.color

    def upSpeed(self, value):
        self.speed += value
        return self.speed

    def downSpeed(self, value):
        self.speed -= value
        return self.speed

car1 = Car('아우디', 'red', 10)
car2 = Car('벤츠', 'blue', 10)

print('%s의 색은 %s이고, 현재 속도는 %d입니다.' % (car1.getName(), car1.getColor(), car1.upSpeed(20)))
print('%s의 색은 %s이고, 현재 속도는 %d입니다.' % (car2.getName(), car2.getColor(), car2.downSpeed(30)))

아우디의 색은 red이고, 현재 속도는 30입니다.
벤츠의 색은 blue이고, 현재 속도는 -20입니다.

In [31]:
num = int(input('숫자를 입력하세요 =>'))

for i in range(num):
  for j in range(num-i):
    print(1+j, end= "")
  print(j)

숫자를 입력하세요 =>5
123454
12343
1232
121
10

In [ ]:
alphabet = input('소문자 알파뱃 하나를 입력하시오 >> ')

for i in range(ord(alphabet),ord('a')-1,-1):
  for j in range(ord('a'), i + 1):
    print(chr(j), end= "")
  print()

소문자 알파뱃 하나를 입력하시오 >> f
abcdef
abcde
abcd
abc
ab
a

In [2]:
member = input('회원이십니까?(y/n)')
if member == 'y':
  print('어서 오십시오.')
else:
  print('회원가입을 해주세요.')

회원이십니까?(y/n)0
회원가입을 해주세요.

In [32]:
age = int(input("나이 입력: "))
price = 2000
if 1 <= age < 6:
  print('입장료는 무료')
elif 6 <= age < 60 :
  print('입장료는', price, '원')
elif age >= 60:
  print('입장료는 ',pcice*0.5,'원')
else:
  print('1살 이상의 나이를 입력해 주세요.')

나이 입력: 6
입장료는 2000 원

In [33]:
pocket = ['스마트폰','교통카드','현금']
item = input('결재 수단 입력:')
price = 2000
if item in pocket and item == '현금':
  print('택시를 타세요.')
elif item in pocket and item == "교통카드":
  print('버스를 타세요.')
else:
  print('걸어가세요.')

결재 수단 입력:현금
택시를 타세요.

In [35]:
year = int(input('연도 입력: '))
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0 :
  print("%d 년은 윤년"% year)
else:
  print('%d 년은 윤년 아님'% year)

연도 입력: 2024
2024 년은 윤년

In [38]:
month = int(input('월 입력: '))
if month < 1 or month > 12 :
  print('존재하지 않는 월!!')
elif 3 <= month <= 5:
  print(month, '월은 봄')
elif 6 <= month <= 8:
  print(month, '월은 여름')
elif 9 <= month <= 11:
  print(month, '월은 가울')
else :
  print(month, '월은 겨울')

월 입력: 5
5 월은 봄

In [41]:
h = int(input('키 입력: '))
w = int(input('몸무게 입력: '))
bmi = w / ((h/100) * (h/100))
if bmi <18:
  result = '저체중'
elif 18 <= bmi < 23:
  result = '정상'
elif 23 <= bmi < 25:
  result = '과체중'
else :
  result = '비만'
print('BMI : %.2f, %s'% (bmi, result))

키 입력: 150
몸무게 입력: 45
BMI : 20.00, 정상

In [43]:
day31 = [1,3,5,7,8,10,12]
day30 = [4,6,9,11]
year = int(input('연도 입력: '))
month = int(input('월 입력: '))
if month < 1 or month >12 :
  print('존재하지 않는 월!!')
elif month in day31 :
  result = 31
elif month in day30 :
  result =30
elif year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
  result = 29
else:
  result = 28
print('%d년 %d월은 %d까지'%(year, month, result))

연도 입력: 1999
월 입력: 7
1999년 7월은 31까지

In [44]:
num = int(input('정수 입력:'))
if num % 2 != 0:
  print('%d은 홀수'% num)
else:
  print('%d은 짝수'% num)

정수 입력:6
6은 짝수

In [45]:
num = int(input('정수 입력: '))
if num >0 :
  print('%d은 양수'% num)
elif num <0:
  print('%d은 음수'% num)
else:
  print('%d은 0'% num)

정수 입력: 5
5은 양수