In [ ]:
numList = [10,20,30]
numList[1] = 200
print(numList)

[10, 200, 30]

In [ ]:
numList = [10,20,30]
numList[1:2] = [200, 201]
print(numList)

[10, 200, 201, 30]

In [ ]:
numList = [10,20,30]
numList.insert(1,123)
print(numList)

[10, 123, 20, 30]

In [ ]:
numList = [10,20,30]
del(numList[1])
print(numList)

[10, 30]

In [ ]:
numList = [10,20,30,10,10]
numList.remove(10)
print(numList)

[20, 30, 10, 10]

In [ ]:
numList = [10,20,30]
numList.pop()

30

In [ ]:
print(numList)

[10, 20]

In [ ]:
a = []
num1, num2, num3 = map(int,input("세 수를 입력하세요. ").split())
a.append(num1)
a.append(num2)
a.append(num3)

largest = a[0]
for i in a:
  if i > largest:
    largest = i
print("입력받은 수 중 가장 큰 수는 %s 입니다."%(largest))

세 수를 입력하세요. 3 5 7
입력받은 수 중 가장 큰 수는 7 입니다.

In [ ]:
gender, age = input().split()

age = int(age)
if age >= 18 :
    if gender == "M":
        print("MAN")
    elif gender == "F":
        print("WOMAN")
else:
    if gender == "M":
        print("BOY")
    elif gender == "F":
        print("GIRL")

F 18
WOMAN

In [ ]:
noList = [[1,2,3,4],
          [5,6,7,8],
          [9,10,11,12]]
        
for i in range(0,3):
  for j in range(0, 4):
    print("%3d"% noList[i][j], end='')
  print("")

  1  2  3  4
  5  6  7  8
  9 10 11 12

In [ ]:
def plus(v1, v2):
  result = 0
  result = v1 + v2
  return result

hap = 0

hap = plus(100,200)
print("100과 200의 plus() 함수 결과는 ",hap)

100과 200의 plus() 함수 결과는  300

In [ ]:
## 함수 정의 부분
def para2_func(v1, v2):
  result = 0 
  result = v1 + v2
  return result

def para3_func(v1, v2, v3):
  result = 0 
  result = v1 + v2 + v3
  return result

hap = 0

hap = para2_func(10,20)
print("매개변수 2개 함수 호출 결과 ==> ", hap)
hap = para3_func(10,20,30)
print("매개변수 3개 함수 호출 결과 ==> ", hap)

매개변수 2개 함수 호출 결과 ==>  30
매개변수 3개 함수 호출 결과 ==>  60

In [ ]:
def func2():
  result = 100
  return result

hap = 0

hap = func2()
print("func2()에서 돌려준 값 ==> ",hap)

func2()에서 돌려준 값 ==>  100

In [ ]:
def func3():
  result1 = 100
  result2 = 200
  return result1, result2

hap1, hap2 = 0, 0

hap1, hap2 = func3()
print("func3()에서 돌려준 값 ==> ", hap1, hap2)

func3()에서 돌려준 값 ==>  100 200

In [ ]:
import random
def lottoFunc():
  lottoNum = random.randint(1,45)
  return lottoNum

lottoList = []
num = 0

print("** 로또 추첨을 시작합니다. ** \n")

while True :
  num = lottoFunc()

  if num in lottoList :
    continue
  else:
    lottoList.append(num)
  if len(lottoList) == 6:
    break
print("오늘의 로또 번호 ==> ", end='')
lottoList.sort()
for i in range(0,6):
  print(lottoList[i]," ",end = "")

** 로또 추첨을 시작합니다. **

오늘의 로또 번호 ==> 10  14  19  26  41  43

In [ ]:
import random

computer, user = 0, 0

for i in range(1,11,1):
  computer = random. randint(1,5)
  print("게임", i, "회: ", end='')
  user = int(input("컴퓨터가 생각한 숫자는 ?"))

  if computer == user :
    print("맞혔네요. 축하합니다 !!")
    break
  else:
    print("아까워요. ",computer, "였는데요. 다시 해보세요. ㅠ")
    continue
print("게임을 마칩니다. ")

게임 1 회: 컴퓨터가 생각한 숫자는 ?5
아까워요.  1 였는데요. 다시 해보세요. ㅠ
게임 2 회: 컴퓨터가 생각한 숫자는 ?3
아까워요.  5 였는데요. 다시 해보세요. ㅠ
게임 3 회: 컴퓨터가 생각한 숫자는 ?1
아까워요.  4 였는데요. 다시 해보세요. ㅠ
게임 4 회: 컴퓨터가 생각한 숫자는 ?2
아까워요.  1 였는데요. 다시 해보세요. ㅠ
게임 5 회: 컴퓨터가 생각한 숫자는 ?3
아까워요.  5 였는데요. 다시 해보세요. ㅠ
게임 6 회: 컴퓨터가 생각한 숫자는 ?4
아까워요.  1 였는데요. 다시 해보세요. ㅠ
게임 7 회: 컴퓨터가 생각한 숫자는 ?5
아까워요.  4 였는데요. 다시 해보세요. ㅠ
게임 8 회: 컴퓨터가 생각한 숫자는 ?6
아까워요.  2 였는데요. 다시 해보세요. ㅠ
게임 9 회: 컴퓨터가 생각한 숫자는 ?7
아까워요.  3 였는데요. 다시 해보세요. ㅠ
게임 10 회: 컴퓨터가 생각한 숫자는 ?8
아까워요.  2 였는데요. 다시 해보세요. ㅠ
게임을 마칩니다.

In [ ]:
for i in range(5):
  print("한빛 아카데미")

한빛 아카데미
한빛 아카데미
한빛 아카데미
한빛 아카데미
한빛 아카데미

In [ ]:
for i in range(1,5,1):
  print("한빛 아카데미")

한빛 아카데미
한빛 아카데미
한빛 아카데미
한빛 아카데미

In [ ]:
for i in [1,2,3,4]:
  print("한빛 아카데미")

한빛 아카데미
한빛 아카데미
한빛 아카데미
한빛 아카데미

In [ ]:
for n in range(3,7):
  print(n,end=' ')

3 4 5 6

In [ ]:
hap = 0
for i in range(1,101,1):
  hap =  hap + i
print(hap)

5050

In [ ]:
hap = 0
for i in range(1001,2001,2):
  hap = hap + i
print(hap)

750000

In [ ]:
i = 0
for i in range(5):
  print("난생처음")

난생처음
난생처음
난생처음
난생처음
난생처음

In [ ]:
i = 0 
while i < 5:
  print("난생처음")
  i += 1

난생처음
난생처음
난생처음
난생처음
난생처음

In [ ]:
num1, num2, num3, num4 = 0, 0, 0, 0
hap = 0

num1 = int(input("숫자 :"))
num2 = int(input("숫자 :"))
num3 = int(input("숫자 :"))
num4 = int(input("숫자 :"))

hap = num1 + num2 + num3 + num4

print("합계 ==> ",hap)

숫자 :10
숫자 :20
숫자 :30
숫자 :40
합계 ==>  100

In [ ]:
numList = [0,0,0,0]
hap = 0

numList[0] = int(input("숫자 :"))
numList[1] = int(input("숫자 :"))
numList[2] = int(input("숫자 :"))
numList[3] = int(input("숫자 :"))

hap = numList[0] + numList[1] + numList[2] + numList[3]

print("합계 ==> ",hap)

숫자 :10
숫자 :20
숫자 :30
숫자 :40
합계 ==>  100

In [ ]:
numList =[]
for i in range(0,4):
  numList.append(0)

hap = 0

for i in range(0, 4):
  numList[i] = int(input('숫자 :'))

hap = numList[0] + numList[1] + numList[2] + numList[3]
print("합계 ==>",hap)

숫자 :10
숫자 :10
숫자 :20
숫자 :30
합계 ==> 70

In [ ]:
numList = [10,20,30]
numList[1] =  200
print(numList)

[10, 200, 30]

In [ ]:
numList = [10,20,30]
numList.insert(1,123)
print(numList)

[10, 123, 20, 30]

In [ ]:
numList = [10,20,30]
del(numList[1])
print(numList)

[10, 30]

In [ ]:
numList = [10,20,30]
numList.remove(10)
print(numList)

[20, 30]

In [ ]:
numList = [10,20,30,10,10]
numList.remove(10)
print(numList)

[20, 30, 10, 10]

In [ ]:
numList = [10,20,30]
numList.pop()

30

In [ ]:
print(numList)

[10, 20]

In [ ]:
numList = [10,20,30,10,10]
numList.count(10)

3

In [ ]:
numList = [20,10,40,50,30]
numList.sort()
print(numList)

[10, 20, 30, 40, 50]

In [ ]:
numList = [20,10,40,50,30]
numList.sort(reverse= True)
print(numList)

[50, 40, 30, 20, 10]

In [ ]:
numList = [20,10,40,50,30]
numList.reverse()
print(numList)

[30, 50, 40, 10, 20]

In [ ]:
numList = [10,20,30]
numList2 = numList.copy()
print(numList2)

[10, 20, 30]

In [ ]:
numList2 = [[1,2,3,4],
            [5,6,7,8],
            [9,10,11,12]]

for i in range(0,3):
  for k in range(0,4):
    print(" ", numList2[i][k], end='')
print(" ")

  1  2  3  4  5  6  7  8  9  10  11  12

In [ ]:
print("홍길동 선수 경기 끝났습니다~~ 짝짝짝")
score = []
for i in range(5):
  jumsu = int(input("평가 점수 ==> "))
  score.append(jumsu)

hap = 0 
for i in range(5):
  hap += score[i]

avg = hap / 5
print("심사위원 평균 점수 :", avg)

홍길동 선수 경기 끝났습니다~~ 짝짝짝
평가 점수 ==> 1
평가 점수 ==> 2
평가 점수 ==> 3
평가 점수 ==> 4
평가 점수 ==> 5
심사위원 평균 점수 : 3.0

In [ ]:
import random

toss = []
for i in range(100000):
  comA = random.choice(["가위","바위","보"])
  comB = random.choice(["가위","바위","보"])

  if comA == "가위":
    if comB == "가위":
      toss.append("없음")
    elif comB == "바위":
      toss.append("B")
    elif comB == "보":
      toss.append("A")
  elif comA == "바위":
    if comB == "가위":
      toss.append("A")
    elif comB == "바위":
      toss.append("없음")
    elif comB == "보":
      toss.append("B")
  elif comA == "보":
    if comB == "가위":
      toss.append("B")
    elif comB == "바위":
      toss.append("A")
    elif comB == "보":
      toss.append("없음")

awin = toss.count("A")
bwin = toss.count("B")
noWin = toss.count("없음")

print("10000번 중 컴퓨터 A의 승리 : ",awin)
print("10000번 중 컴퓨터 B의 승리 : ",bwin)
print("10000번 중 비긴 경기: ",noWin)

10000번 중 컴퓨터 A의 승리 :  33496
10000번 중 컴퓨터 B의 승리 :  33159
10000번 중 비긴 경기:  33345

In [ ]:
singer = {}
singer['이름'] = "트와이스"
singer["구성원수"] = 9
singer["데뷰"] = '서바이별 식스틴'
singer['대표곡']= "CRY FOR ME"

for k in singer.keys():
  print(k, "==>", singer[k])

이름 ==> 트와이스
구성원수 ==> 9
데뷰 ==> 서바이별 식스틴
대표곡 ==> CRY FOR ME

In [ ]:
store = {}
print("*** 물품과 재고량 입력 ***")
while True :
  item = input("입력 물품 ==> ")
  if item == 'z':
    break
  count =  int(input("재고량 ==>"))
  store[item] = count

print("*** 물품의 재고량 확인 ***")
while True :
  item = input("찾을 물품 ==>")
  if item == "":
    break
  if item in store :
    print(store[item],"개 남았어요")
  else :
    print("그 물품은 없어요")

*** 물품과 재고량 입력 ***
입력 물품 ==> 도시락
재고량 ==>14
입력 물품 ==> 우유
재고량 ==>3
입력 물품 ==> 김밥
재고량 ==>19
입력 물품 ==> z
*** 물품의 재고량 확인 ***
찾을 물품 ==>우유
3 개 남았어요
찾을 물품 ==>도시락
14 개 남았어요
찾을 물품 ==>김밥
19 개 남았어요
찾을 물품 ==>계란
그 물품은 없어요
찾을 물품 ==>z
그 물품은 없어요
찾을 물품 ==>

In [ ]:
print("A님. 두 숫자를 입력하세요.")
num1 = int(input("정수1 ==> "))
num2 = int(input("정수2 ==> "))
hap = num1 + num2
print("결과 :", hap)

print("B님. 두 숫자를 입력하세요")
num1 = int(input("정수1 ==> "))
num2 = int(input("정수2 ==> "))
hap = num1 + num2
print("결과 :", hap)

print("C님. 두 숫자를 입력하세요")
num1 = int(input("정수1 ==> "))
num2 = int(input("정수2 ==> "))
hap = num1 + num2
print("결과 :", hap)

A님. 두 숫자를 입력하세요.
정수1 ==> 2
정수2 ==> 3
결과 : 5
B님. 두 숫자를 입력하세요
정수1 ==> 4
정수2 ==> 5
결과 : 9
C님. 두 숫자를 입력하세요
정수1 ==> 6
정수2 ==> 7
결과 : 13

In [ ]:
def hapFunc():
  num1 = int(input("정수1 ==> "))
  num2 = int(input("정수2 ==> "))
  return num1 + num2

print("A님. 두 숫자를 입력하세요.")
hap = hapFunc()
print("결과 :", hap)

print("B님. 두 숫자를 입력하세요.")
hap = hapFunc()
print("결과 :", hap)

print("C님. 두 숫자를 입력하세요.")
hap = hapFunc()
print("결과 :", hap)

A님. 두 숫자를 입력하세요.
정수1 ==> 1
정수2 ==> 2
결과 : 3
B님. 두 숫자를 입력하세요.
정수1 ==> 3
정수2 ==> 4
결과 : 7
C님. 두 숫자를 입력하세요.
정수1 ==> 5
정수2 ==> 6
결과 : 11

In [ ]:
def plus (v1, v2):
  result = 0
  result = v1 + v2
  return result 

hap = 0

hap = plus(100,200)
print("100과 200의 plus() 함수 결과는 ", hap)

100과 200의 plus() 함수 결과는  300

In [ ]:
def calc(v1, v2, op):
  result = 0
  if op =='+':
    resutl = v1 + v2
  elif op == '-':
    result = v1 - v2
  elif op == '/':
    result = v1 / v2
  
  return result

res = 0 
var1, var2, oper = 0, 0, ""

oper = input("계산 입력 (+, -, *, /): ")
var1 = int(input("첫 번째 입력: "))
var2 = int(input("두 번째 입력: "))
res = calc(var1, var2,  oper)

print("## 계산기 : ", var1, oper, var2, "=", res)

계산 입력 (+, -, *, /): +
첫 번째 입력: 2
두 번째 입력: 3
## 계산기 :  2 + 3 = 0

In [ ]:
def para2_func(v1, v2):
  result = 0
  result = v1 + v2
  return result

def para3_func(v1, v2, v3):
  result = 0
  result = v1 + v2 + v3
  return result

hap = 0

hap = para2_func(10,20)
print("매개변수 2개 함수 호출 결과 ==> ", hap)
hap = para3_func(10,20,30)
print("매개변수 3개 함수 호출 결과 ==> ", hap)

매개변수 2개 함수 호출 결과 ==>  30
매개변수 3개 함수 호출 결과 ==>  60

In [ ]:
def para_func(v1, v2, v3=0):
  result = 0
  result = v1 + v2 + v3
  return result

hap = 0

hap = para_func(10,20)
print("매개변수 2개 함수 호출 결과 ==> ", hap)

hap = para_func(10,20,30)
print("매개변수 3개 함수 호출 결과 ==> ", hap)

매개변수 2개 함수 호출 결과 ==>  30
매개변수 3개 함수 호출 결과 ==>  60

In [ ]:
def func1():
  print("반환값이 없는 함수 실행")

func1()

반환값이 없는 함수 실행

In [ ]:
def func2():
  result = 100
  return result

hap = 0

hap = func2()
print("func2()에서 돌려준 값 ==> ",hap)

func2()에서 돌려준 값 ==>  100

In [ ]:
def func3():
  result1 = 100
  result2 = 200
  return result1, result2

hap1, hap2 = 0, 0

hap1, hap2 = func3()
print("func3()에서 돌려준 값 ==> ", hap1, hap2)

func3()에서 돌려준 값 ==>  100 200

In [ ]:
def myfunc():
  pass

In [ ]:
if True :
  pass
else:
  print("거짓입니다. ")

In [ ]:
def func1():
  global a
  a = 10
  print("func1()에서 a의 값", a)

def func2():
  print("func2()에서 a의 값", a)

a = 20

func1()
func2()

func1()에서 a의 값 10
func2()에서 a의 값 10

In [ ]:
from datetime import datetime, timedelta
def getCurrent():
  curDate = datetime.now()
  return curDate

def getAfterDate(now, day):
  retDate = now + timedelta(days = day)
  return retDate

nowDate, afterDate = None, None

nowDate = getCurrent()
print("현재 날짜와 시간 ==> ", nowDate)
afterDate = getAfterDate(nowDate, 100)
print("100일 후 날짜와 시간 ==> ",afterDate)

현재 날짜와 시간 ==>  2023-06-11 06:39:25.508943
100일 후 날짜와 시간 ==>  2023-09-19 06:39:25.508943

In [ ]:
def checkPassword(pwd):
  if len(pwd) < 8:
    return False
  
  if pwd.isalnum():
    return True
  else:
    return False

password = ""

password = input("새로운 비밀번호를 입력하세요 :")

if checkPassword(password):
  print("Good~ 비밀번호가 올바르게 생성되었어요")
else :
  print("오류! 비밀번호가 규칙에 맞지 않습니다. ")

새로운 비밀번호를 입력하세요 :12345678
Good~ 비밀번호가 올바르게 생성되었어요

In [ ]:
inFile = None
inStr = ''

inFile = open("", "r", encoding="UTF-8")

inStr = inFile.readline()
print(inStr, end='')

inStr = inFile.readline()
print(inStr, end='')

inStr = inFile.readline()
print(inStr, end='')

inFile. close()

In [ ]:
inFile = None
inStr = ''

inFile = open("", "r", encoding="UTF-8")

while True:
  inStr = inFile.readline()
  if inStr == "":
    break
  print(inStr, end='')


inFile. close()

In [ ]:
inFile = None
inList = []