In [ ]:
# 예제 6-1
member = input('회원이십니까(y/n)')
if member == 'y':
  print('어서 오십시오.')

회원이십니까(y/n)n

In [ ]:
# 예제 6-2
member = input('회원이십니까?(y/n)')
if member == 'y':
  print('어서 오십시오.')
else:
  print('회원가입을 해주세요.')

회원이십니까?(y/n)0
회원가입을 해주세요.

In [ ]:
# 예제 6-3
age =  int(input('나이 입력: '))
price = 2000
if 1 <= age < 6:
  print('입장료는 무료')
elif 6 <= age <60 :
  print('입장료는', price, '원')
elif age >= 60:
  print('입장료는', price*0.5,'원')
else:
  print('1살 이상의 나이를 입력해 주세요.')

나이 입력: 0
1살 이상의 나이를 입력해 주세요.

In [ ]:
# 예제 6-5
pocket = ['스마트폰', '교통카드','현금']
item = input('결제 수단 입력:')
price = 2000
if item in pocket and item == '현금':
  print('택시를 타세요.')
elif item in pocket and item == '교통카드':
  print('버스를 타세요.')
else:
  print('걸어가세요.')

결제 수단 입력:빈지갑
걸어가세요.

In [ ]:
# 예제 6-7
import random
rps = ['가위', '바위', '보']
com = random.choice(rps)
player = input('가위, 바위, 보 중에서 하나 입력: ')
if player == '가위':
  if com == '가위':
    result = '비김'
  elif com == '바위':
    result = '졌음'
  elif com == '보':
    result = '이김'
elif player == '바위':
  if com == '가위':
      result = '이김'
  elif com == '바위':
      result = '비김'
  elif com == '보':
      result = '졌음'
elif player == '보':
  if com == '가위':
      result = '졌음'
  elif com == '바위':
      result = '이김'
  elif com == '보':
      result = '비김'
if player in rps:
  print('나:%s, 컴퓨터:%s => %s'% (player, com, result))
else:
  print('잘못 입력하셨습니다. 다시 입력하세요.')

가위, 바위, 보 중에서 하나 입력: 가위
나:가위, 컴퓨터:가위 => 비김

In [ ]:
# 실습 6-1
year = int(input('연도 입력: '))
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
  print('%d 년은 윤년' % year)
else:
  print('%d 년은 윤년 아님'% year)

연도 입력: 2019
2019 년은 윤년 아님

In [ ]:
# 실습 6-2
month = int(input('월 입력: '))
if month < 1 or month > 12:
  print('존재하지 않는 월!!')
elif 3 <= month <= 5:
  print(month,'월은 봄')
elif 6 <= month <= 8:
  print(month,'월은 여름')
elif 9 <= month <= 11:
  print(month,'월은 거울')
else :
  print(month,'월은 겨울')

월 입력: 6
6 월은 여름

In [ ]:
# 실습 6-3
h = int(input('키 입력: '))
w = int(input('몸무게 입력: '))
bmi = w / ((h/100)*(h/100))
if bmi < 18:
  result / '저체중'
elif 18 <= bmi < 23:
  result ='정상'
elif 23 <= bmi < 25:
  result ='과체중'
else :
  result ='비만'
print('BMI: %.2f, %s'%(bmi, result))

키 입력: 180
몸무게 입력: 63
BMI: 19.44, 정상

In [ ]:
# 실습 6-4
day31 = [1,3,5,7,8,10,12]
day30 = [4,6,9,11]
year = int(input('연도 입력: '))
month = int(input('월 입력: '))
if month < 1 or month >12:
  print('존재하지 않는 월!!')
elif month in day31:
  result = 31
elif month in day30:
  result = 31
elif year % 4 == 0 and year % 100!= 0 or year %400 == 0:
  result = 29
else:
  result = 28
print('%d년 %d월은 %d까지'% (year, month, result))

연도 입력: 2023
월 입력: 6
2023년 6월은 31까지

In [ ]:
# 실습 6-5
remain_period = int(input('몇개월 후의 여행을 계획중인가요?(3개월 이상)'))
country = input('여행할 지역을 입력하세요(아시아, 유럽, 미주): ')
if 3 <= remain_period < 6:
  if country == '아시아':
    result = 8
  elif country == '유럽':
    result = 9
  elif country == '미주':
    result = 10
  else:
    resul = None
elif 6 <= remain_period <12:
  if country == '아시아':
    result = 15
  elif country == '유럽':
    result = 17
  elif country == '미주':
    result = 20
  else:
    result = None
elif 12 <= remain_period :
  if country == '아시아':
    result = 25
  elif country == '유럽':
    result = 30
  elif country == '미주':
    result = 40
  else:
    result = None
else :
  result = None
if result :
  print(('%d개월 이후의 %s 항공권은 %d%% 할인'% (remain_period, country, result)))
else:
  print('기간 또는 지역 정보가 바르지 않거나, 할인이 지원되지 않는 지역입니다.')

몇개월 후의 여행을 계획중인가요?(3개월 이상)5
여행할 지역을 입력하세요(아시아, 유럽, 미주): 아시아
5개월 이후의 아시아 항공권은 8% 할인

In [ ]:
# 6장 도전 1-1
num = int(input('정수 입력:'))
if num % 2 != 0:
  print('%d은 홀수'% num)
else:
  print('%d은 짝수'% num)

정수 입력:77
77은 홀수

In [ ]:
# 6장 도전 1-2
num = int(input('정수 입력: '))
if num>0:
  print('%d은 양수'% num)
elif num <0:
  print('%d은 음수'% num)
else:
  print('%d은 0'% num)

정수 입력: 77
77은 양수

In [ ]:
# 6장 도전 1-3
id = input('아이디 입력: ')
pwd =  input('비밀번호 입력: ')
if id == 'admin' and pwd== 'pw1234':
  print('로그인 성공')
else:
  print('아이디나 비밀번호가 틀려 로그인 실패')

아이디 입력: admin
비밀번호 입력: pw1234
로그인 성공

In [ ]:
# 6장 도전 2-1
num1 = int(input('첫 번째 수 입력: '))
num2 = int(input('두 번째 수 입력: '))
symbol = input('원하는 연산 기호 하나 입력:(+ - * /) ')
if symbol == '+':
  print('%d + %d = %d'%(num1,num2,num1+num2))
elif symbol == '-':
  print('%d - %d = %d'%(num1,num2,num1-num2))
elif symbol == '*':
  print('%d * %d = %d'%(num1,num2,num1*num2))
elif symbol == '/':
  print('%d / %d = %d'%(num1,num2,num1/num2))
else:
  print('올바른 기호를 입력하세요.')

첫 번째 수 입력: 40
두 번째 수 입력: 10
원하는 연산 기호 하나 입력:(+ - * /) /
40 / 10 = 4

In [ ]:
# 6장 도전 2-2
score1 = int(input('1차 점수 입력: '))
score2 = int(input('2차 점수 입력: '))
total = score1 + score2
if total/2 >= 70 and score1 >= 50 and score2 >= 50:
  print('합격')
else:
  print('불합격')

1차 점수 입력: 49
2차 점수 입력: 100
불합격

In [ ]:
# 6장 도전 2-3
score = int(input('점수 입력: '))
if score >=90:
  print('%d점은 A학점'%(score))
elif 80 <= score < 90:
  print('%d점은 B학점'%(score))
elif 70 <= score < 80:
  print('%d점은 C학점'%(score))
elif 60 <= score < 70:
  print('%d점은 D학점'%(score))
else :
  print('%d점은 F학점'%(score))

점수 입력: 57
57점은 F학점

In [ ]:
# 예제 7-1
for i in range(5):
  print('*'*(i+1))

*
**
***
****
*****

In [ ]:
# 예제 7-1
for i in range(5,-1,-1):
  print('*'*(i+1))

******
*****
****
***
**
*

In [ ]:
# 예제 7-2
odd = [1,3,5,7,9]
for i in odd:
  print(i+1, end=' ')

2 4 6 8 10

In [ ]:
# 예제 7-3
for i in 'Python':
  print(i, end=' ')

P y t h o n

In [ ]:
# 예제 7-4
year =1
while year <= 3:
  print('서당개', year,'년')
  year += 1

print('풍월을 옲습니다.')

서당개 1 년
서당개 2 년
서당개 3 년
풍월을 옲습니다.

In [ ]:
# 예제 7-5
result = None
while result != 'y':
  print('파이썬 최고!')
  result = input('계속하려면 입력: (종료:y)')

print('종료')

파이썬 최고!
계속하려면 입력: (종료:y)hi
파이썬 최고!
계속하려면 입력: (종료:y)1234
파이썬 최고!
계속하려면 입력: (종료:y)y
종료

In [ ]:
# 예제 7-6
num = int(input('단 입력: '))
for i in range(1,10):
  print('%d * %d = %d'%(num, i, num*i))
i=1
num = int(input('단 입력: '))
while i <= 9:
  print('%d * %d = %d'%(num, i, num*i))
  i += 1

단 입력: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
단 입력: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [ ]:
# 예제 7-7
while True:
  num = int(input('번호 입력(종료 0):'))
  if num == 0:
    break
  print('while 무한루프로 반복중')

번호 입력(종료 0):1
while 무한루프로 반복중
번호 입력(종료 0):3
while 무한루프로 반복중
번호 입력(종료 0):0

In [ ]:
# 예제 7-8
for i in range(1,31):
  if i % 7 ==0:
    print('7의 배수:',i)
for i in range(1,31):
  if i % 7!=0:
    continue
  print('7의 배수:', i)

7의 배수: 7
7의 배수: 14
7의 배수: 21
7의 배수: 28
7의 배수: 7
7의 배수: 14
7의 배수: 21
7의 배수: 28

In [ ]:
# 예제 7-10
while True:
    num = int(input('단 입력(종료:0) '))
    if num == 0:
        break
    i = 1
    while i <= 9:
        print('%d * %d = %d' %(num, i, num*i))
        i += 1
print('구구단 프로그램 종료')

단 입력(종료:0) 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
단 입력(종료:0) 0
구구단 프로그램 종료

In [ ]:
# 예제 7-11
alpha = {'A':'1!','B':'2@','C':'3#','D':'4$','E':'5%'}
while True:
    code = ' '
    word = input('대문자 A~E 단어 입력(종료:0) ')
    if word == '0':
        break
    for ch in word:
        code += alpha[ch]
    print('단어:',word,',암호코듸:',code,'\n')
print('암호코드 변환 프로그램 종료')

대문자 A~E 단어 입력(종료:0) AACCEE
단어: AACCEE ,암호코듸:  1!1!3#3#5%5%

대문자 A~E 단어 입력(종료:0) 0
암호코드 변환 프로그램 종료

In [ ]:
# 예제 7-12
start = int(input('시작단 입력: '))
end =  int(input('종료단 입력: '))
for num in range(start, end+1):
    i = 1
    while i <= 11:
        print('%d * %d = %d'%(num, i, num*i))
        i += 1
print('구구단 프로그램 종료')

시작단 입력: 3
종료단 입력: 5
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
구구단 프로그램 종료

In [ ]:
# 예제 7-13
main = ['참치','소고기']
side = ['치즈','김치']
i = 1
for m in main:
    for s in side:
        print(i, m+'+'+s+'+단무지')
        i += 1

1 참치+치즈+단무지
2 참치+김치+단무지
3 소고기+치즈+단무지
4 소고기+김치+단무지

In [ ]:
# 실습 7-1
students = []
sum = 0

num =  int(input('학생 수 입력:'))
for i in range(num):
    print('<<',i+1,'번째 학생 정보 입력 >>')
    name =  input('학생 이름 입력: ')
    score =  int(input('%s 점수 입력: '% name))
    students.append([name, score])
    sum += score

for info in students :
    print('이름: %s, 점수: %d'%(info[0], info[1]))
print('학생들 점수 평균: %5.2f' % (sum/num))

학생 수 입력:3
<< 1 번째 학생 정보 입력 >>
학생 이름 입력: 박보검
박보검 점수 입력: 90
<< 2 번째 학생 정보 입력 >>
학생 이름 입력: 정우성
정우성 점수 입력: 80
<< 3 번째 학생 정보 입력 >>
학생 이름 입력: 차은우
차은우 점수 입력: 85
이름: 박보검, 점수: 90
이름: 정우성, 점수: 80
이름: 차은우, 점수: 85
학생들 점수 평균: 85.00

In [ ]:
# 실습 7-2
import random
com = random.randint(1,20)
print('<< 컴퓨터기 생각한 1~20 숫자 맞추기 >>')
while True:
    player = int(input('숫자 입력(종료 0): '))
    if player == 0:
        break
    elif player == com:
        print('정답!!')
        break
    elif player > com:
        print('더 작은 숫자 입력!')
    elif player > com:
        print('더 큰 숫자 입력!')

<< 컴퓨터기 생각한 1~20 숫자 맞추기 >>
숫자 입력(종료 0): 4
정답!!

In [ ]:
# 실습 7-3
print('<< 369 게임 >>')
num = int(input('1부터 어디까지 진행할까요? '))

for i in range(1,num+1):
    if i % 10 == 3 or i % 10 ==6 or i % 10 == 9:
        print('짝', end=' ')
    else :
        print(i, end=' ')

<< 369 게임 >>
1부터 어디까지 진행할까요? 5
1 2 짝 4 5

In [ ]:
# 실습 7-4
for i in range(5):
  print('*'*(5-i))

*****
****
***
**
*

In [ ]:
for i in range(5):
  print(str(5-i)*(5-i))

55555
4444
333
22
1

In [ ]:
# 실습 7-5
morse_dict = {'A':'.-','B':'-...','C':'-.-.','D':'-..',
              'E':'.','F':'..-.','G':'--.','H':'....',
              'I':'..','J':'.---','K':'-.-','L':'.-..',
              'M':'--','N':'-.','O':'---','P':'.--.',
              'Q':'--.-','R':'.-.','S':'...','T':'-',
              'U':'-.--','V':'...-','W':'.--','X':'-..-',
              'Y':'-.--','Z':'--..',}
while True:
    morse_code = ''
    word = input('대문자 단어 입력(종료:0) ')
    if word == '0':
        break
    for ch in word :
        morse_code += morse_dict[ch]
        morse_code += '  '
    print('단어:', word,', 모스 코드: ', morse_code, '\n')
print('모스 부호 변환 프로그램 종료')

대문자 단어 입력(종료:0) APPLE
단어: APPLE , 모스 코드:  .-  .--.  .--.  .-..  .

대문자 단어 입력(종료:0) 0
모스 부호 변환 프로그램 종료

In [ ]:
# 실습 7-6
str_num =  input('정수 입력: ')
i = 0
for i in range(len(str_num)):
  heart_num =  int(str_num[i])
  heart = '' # 저장값 초기화
  for k in range(heart_num):
    heart += '💗'
  print(heart)

정수 입력: 37
💗💗💗
💗💗💗💗💗💗💗

In [ ]:
# 7장 도전 1-1
for i in range(5):
  print(' '*(5-i),'*'*(1+i))

      *
     **
    ***
   ****
  *****

In [ ]:
for i in range(5):
  print(' '*(1+i),'*'*(5-i))

  *****
   ****
    ***
     **
      *

In [ ]:
# 7장 도전 1-2
for i in range(5):
  print(' '*(4-i),'*'*(1+2*i))

     *
    ***
   *****
  *******
 *********

In [ ]:
for i in range(5):
  print(' '*(1+i),'*'*((9-2*i)))

  *********
   *******
    *****
     ***
      *

In [ ]:
# 7장 도전 1-3
import random
word = ['반짝이는','별빛들','깜빡 이는','불 켜진','건물','우린', '빛나고','있네', '각자의 방','각자의', '별에서']
input('타자게임 시작 (엔터 입력)')
w =  random.choice(word)
n=1
a=0
while True:
  print('문제',n,'(종료 0):',w)
  my = input()
  if my == '0':
    break
  elif my == w :
    print('맞음!!\n')
    a +=1
    w=random.choice(word)
  else:
    print('틀립! 다시!\n')
  n += 1
print('맞힌 문제 개수: %d, 정답률: %.2f'%(a,(a/n)*100))

타자게임 시작 (엔터 입력)
문제 1 (종료 0): 불 켜진
불 켜진
맞음!!

문제 2 (종료 0): 깜빡 이는
깜빡 이는
맞음!!

문제 3 (종료 0): 있네
있네
맞음!!

문제 4 (종료 0): 각자의 방
각자의 방
맞음!!

문제 5 (종료 0): 빛나고
ㅎㅎ
틀립! 다시!

문제 6 (종료 0): 빛나고
0
맞힌 문제 개수: 4, 정답률: 66.67

In [ ]:
# 7장 도전 2-2
num = int(input('1부터 어디까지 진행할까요? '))

for i in range(1,num+1):
    if i % 10 == 3 or i % 10 ==6 or i % 10 == 9:
        print('짝', end=' ')
    elif i % 10 == 0:
      print('따봉', end=' ')
    else :
        print(i, end=' ')

1부터 어디까지 진행할까요? 24
1 2 짝 4 5 짝 7 8 짝 따봉 11 12 짝 14 15 짝 17 18 짝 따봉 21 22 짝 24

In [ ]:
# 7장 도전 2-3
bread = ['위트','허니오트','화이트']
patty = ['미트볼','터커베이컨','로스트치킨']
i = 1
for b in bread:
    for p in patty:
        print(i, b+'+'+p+'+랜치드레싱')
        i += 1

1 위트+미트볼+랜치드레싱
2 위트+터커베이컨+랜치드레싱
3 위트+로스트치킨+랜치드레싱
4 허니오트+미트볼+랜치드레싱
5 허니오트+터커베이컨+랜치드레싱
6 허니오트+로스트치킨+랜치드레싱
7 화이트+미트볼+랜치드레싱
8 화이트+터커베이컨+랜치드레싱
9 화이트+로스트치킨+랜치드레싱

In [ ]:
# 7장 도전 2-4
import random
com = random.randint(1,20)
print('<< 컴퓨터기 생각한 1~20 숫자 맞추기 >>')
while True:
    player = int(input('숫자 입력(종료 0): '))
    if player == 0:
        break
    elif player == com:
        print('정답!!')
        break
    elif player > com:
        print('더 작은 숫자 입력!')
    elif player > com:
        print('더 큰 숫자 입력!')

<< 컴퓨터기 생각한 1~20 숫자 맞추기 >>
숫자 입력(종료 0): 10
숫자 입력(종료 0): 15
더 작은 숫자 입력!
숫자 입력(종료 0): 12
더 작은 숫자 입력!
숫자 입력(종료 0): 11
정답!!

In [ ]:
# 예제 8-1
score=[70,90,60,100,50]
cnt=0
for i in range(5):
  if score[i]>=70:
    cnt += 1

print('count:',cnt)

count: 3

In [ ]:
# 7장 도전 2-4

In [ ]:
# 예제 8-1
score=[70,90,60,100,50,100]
cnt=0
for i in range(len(score)):
  if score[i]>=70:
    cnt += 1

print('count:',cnt)

count: 4

In [ ]:
# 도전 1-1
for i in range(5):
  print(' '*(4-i),'*'*(i+1))

     *
    **
   ***
  ****
 *****

In [ ]:
for i in range(5):
  print(' '*(i+1),'*'*(5-i))

  *****
   ****
    ***
     **
      *

In [ ]:
# 도전 1-2
for i in range(5):
  print(' '*(5-i),'*'*((i+1)+i))

      *
     ***
    *****
   *******
  *********

In [ ]:
for i in range(5):
  print(' '*i,'*'*((5-i)+(4-i)))

 *********
  *******
   *****
    ***
     *

In [ ]:
# 도전 1-3
import random
word = ['반짝이는','별빛들','깜빡 이는 ','불 켜진','건물','우린','빛나고','있네','각자의 방','각자의','별에서']
input('타자게임 시작(엔터 입력)')
w= random.choice(word)
n = 1
while True:
  print('문제', n,'(종료 0):',w)
  my =  input()
  if my == '0':
    break
  elif my == w:
    print('맞음!!\n')
    w = random.choice(word)
  else :
    print('틀림! 다시!\n')
  n += 1 # 문제번호 증가

타자게임 시작(엔터 입력)
문제 1 (종료 0): 건물
건물
맞음!!

문제 2 (종료 0): 별에서
별에서
맞음!!

문제 3 (종료 0): 각자의
0

In [ ]:
#8장 1-1
import random

print('덧셈 게임')
score = 0
while True:
  s = input('시작:아무거나, 종료:0 ')
  if s == '0':break
  n1=random.randint(10,100)
  n2=random.randint(10,100)
  print('{} + {} ='.format(n1, n2))
  ans=int(input('answer:'))
  if ans == n1 + n2:
    print('정담')
    score += 5
  else:
    print('오답')
    score -= 5
print('score : ',score)

덧셈 게임
시작:아무거나, 종료:0
52 + 25 =
answer:77
정담
시작:아무거나, 종료:0 0
score :  5

In [ ]:
import math

r = 45
ramgians = r*r * math.pi

import random

for i in range(10):
  x = random.random()
  print(x)

0.4130405991768179
0.9365719620051779
0.3653188140323327
0.21278841088233025
0.04712154151496817
0.7388237522200531
0.17244487059669256
0.6282998920000876
0.08471010108205168
0.8579075395708449

In [ ]:
def maw1(num1, num2):
  if num1>num2:
    return num1
  else:
    return num2
a=int(input('1st:'))
b=int(input('2st:'))
print(max(a,b))

1st:100
2st:2
100

In [ ]:
#9-3
def print_Iyrucs():
  print("I'm okay.")
  print('I sleep all night')
print_Iyrucs()

I'm okay.
I sleep all night

In [ ]:
#9-3
def cylinder_volume(height, radius=5):
  pi= 3.14159
  return height * pi * radius **2
cylinder_volume(10, 3)

282.7431

In [ ]:
def game(num):
  a=num//10
  b=num%10
  if a==3 or a==6 or a==9:
    return 'crap'
  elif b==3 or b==6 or b==9:
    return 'crap'
  else:
    return 'next number'
a=int(input('number:'))
print(game(num))

number:56

NameError: ignored

In [ ]:
x=5
print('Hello')

def print_Iyrucs():
  print("I'm a lumberjack, and I'm okey.")
  print('I sleep all night and I work all day.')

print('Yo')
X=x+2
print(x)

Hello
Yo
5

In [ ]:
# 실습 9-2
x=5
print('Hello')

def print_Iyrucs():
  print("I'm a lumberjack, and I'm okey.")
  print('I sleep all night and I work all day.')

print('Yo')
print_Iyrucs()
x=x+2
print(x)

Hello
Yo
I'm a lumberjack, and I'm okey.
I sleep all night and I work all day.
7

In [ ]:
#실습 9-4
def fred():
  print('Zap')
def jane():
  print('ABC')
jane()
fred()
jane()

ABC
Zap
ABC

In [ ]:
# 9장 도전 1-1
def greet(lang):
  if lang == 1:
    print('Hola')
  elif lang ==2:
    print("Bonjour")
  elif lang ==3:
    print('안녕?')
  else:
    print('지원하지 않습니다')

h = int(input('언어를 선택하세요(1:EN/2:FR/3:KR)'))
greet(h)

언어를 선택하세요(1:EN/2:FR/3:KR)1
Hola

In [ ]:
# 9장 도전 1-2
def concate(s1, s2):
  print(s1+s2)
str1=input("1'st 문장입력:")
str2=input("2'st 문장입력:")
concate(str1, str2)

1'st 문장입력:hello
2'st 문장입력:python
hellopython

In [ ]:
# 9장 도전 1-2
def concate(s1, s2):
  return s1 + s2

str1=input("1'st 문장입력:")
str2=input("2'st 문장입력:")

ans = concate(str1, str2)
print(ans)

1'st 문장입력:hello
2'st 문장입력:world
helloworld

In [ ]:
# 9장 도전 1-2
def concate(s1, s2):
  return s1 + s2

str1=input("1'st 문장입력:")
str2=input("2'st 문장입력:")

print(concate(str1, str2))

1'st 문장입력:hello
2'st 문장입력:world
helloworld

In [ ]:
# 9장 도전 2-1
def price(menue):
  if menue == 1:
    print("아메리카노 2500원")
  elif menue == 2:
    print("카페라떼 3000원")
  elif menue == 3:
    print("바닐라라떼 3000원")
  else:
    print('지원하지 않습니다')

menue = int(input('메뉴선택(1:아메리카노/2:카페라떼/3:바닐라라떼)'))
price(menue)

메뉴선택(1:아메리카노/2:카페라떼/3:바닐라라떼)2
카페라떼 3000원

In [ ]:
# 9장 도전 2-2
#[점수와 학점 기준 표]
def grade(score):
  if score < 10.0 and score >= 0.9 :
    return 'A'
  elif score < 0.9 and score >= 0.8:
    return 'B'
  elif score < 0.8 and score >= 0.7:
    return 'C'
  elif score < 0.7 and score >= 0.6:
    return 'D'
  elif score >= 0 and score < 0.6:
    return "F"
  elif score == 10.0:
    return 'Bad score'

score = input('Enter score: ')
if score != float :
  print("Bad score")
else :
  grade = float(score)
  print(grade(score))

Enter score: 0.9
Bad score

In [ ]:
# 9장 도전 2-2
#[점수와 학점 기준 표]
for i in range(3):
  def grade(score):
      if score == "perfect":
          return 'Bad score'
      else :
        score = float(score)
        if score == 10.0:
          return 'Bad score'
        elif score < 10.0 and score >= 0.9 :
          return 'A'
        elif score < 0.9 and score >= 0.8:
          return 'B'
        elif score < 0.8 and score >= 0.7:
          return 'C'
        elif score < 0.7 and score >= 0.6:
          return 'D'
        else:
          return "F"


  score = input('Enter score: ')
  print(grade(score))

Enter score: 0.95
A
Enter score: perfect
Bad score
Enter score: 10.0
Bad score

In [ ]:
# 9장 도전 2-2
#[점수와 학점 기준 표]
def hak(a):
  if a < 0.6 :
    return 'F'
  elif 0.6 <= a < 0.7 :
    return 'D'
  elif 0.7 <= a < 0.8:
    return 'B'
  elif 0.8 <= a < 0.9:
    return 'A'
  else:
    return "Bad score"

a = input('Enter score: ')
if a != float :
  print("Bad score")

Enter score: 0.95
Bad score

In [ ]:
# 8-1
score = [70,90,60,100,50]
cnt = 0 # 반드시 초기화
for i in range(5):
  if score[i]>=70:
    cnt += 1

print('count:', cnt)

count: 3

In [ ]:
# 8-1
s=int(input('start num: '))
e=int(input('end num: '))

# 변수의 초기화
total, even, odd=0,0,0
for i in range(s,e+1):
  total += i
  if i % 2 == 0: # 짝수판단
    even += i
  else:
    odd += i

print('전체합계 : ', total)
print('짝수의 합: ', even)
print('홀수의 합: ', odd)

start num: 1
end num: 10
전체합계 :  55
짝수의 합:  30
홀수의 합:  25

In [ ]:
# 8-3
score=[85, 95, 70, 50, 100]
n=0
print('코딩 시험 결과 ')
print('-'*30)
for s in score:
  n += 1

  if s>=90:
    result='LEVEL1'
  elif s>=80:
    result='LEVEL2'
  elif s>=70:
    result='LEVEL3'
  else:
    result='FAIL'

  print('{}번 학생의 점수는 {}입니다.'.format(n,s))
  print('결과는 {}입니다.'.format(result))
  print()

코딩 시험 결과
------------------------------
1번 학생의 점수는 85입니다.
결과는 LEVEL2입니다.

2번 학생의 점수는 95입니다.
결과는 LEVEL1입니다.

3번 학생의 점수는 70입니다.
결과는 LEVEL3입니다.

4번 학생의 점수는 50입니다.
결과는 FAIL입니다.

5번 학생의 점수는 100입니다.
결과는 LEVEL1입니다.

In [ ]:
# 8-4
import random

print('주사위 게임 시작')
throw =  input('Enter를 치세요')
while throw != '0':
  com =  random.randint(1,6)
  user = int(input('num: '))
  if com>user:
    win = 'com'
  else:
    win = 'user'
  print('com {} : user {}, {} win'.format(com, user, win))

  throw = input('재시작:Enter, 종료:0')

주사위 게임 시작
Enter를 치세요
num: 5
com 3 : user 5, user win
재시작:Enter, 종료:04
num: 4
com 6 : user 4, com win
재시작:Enter, 종료:00

In [ ]:
# 8-5
print('입력 받은 숫자만큼 막대그래프 그리기')
while True:
  n = int(input('n:'))
  if n==0:
    break
  for i in range(n):
    print('*', end='')
  print()

입력 받은 숫자만큼 막대그래프 그리기
n:5
*****
n:4
****
n:10
**********
n:0

In [ ]:
# 8-6
import random

print('구구단 게임')
while True:
  s=input('시작: 아무키나, 종료:0')
  if s=='0':break
  dan = random.randint(2,9)
  num = random.randint(1,9)
  print('{}*{} = '.format(dan,num))
  ans=int(input('answer: '))
  if ans==dan*num:
    print('PASS')
  else:
    print('FAIL')

구구단 게임
시작: 아무키나, 종료:0
9*1 =
answer: 9
PASS
시작: 아무키나, 종료:0
9*7 =
answer: 63
PASS
시작: 아무키나, 종료:0
4*7 =
answer: 10
FAIL
시작: 아무키나, 종료:0
9*2 =
answer: 0
FAIL
시작: 아무키나, 종료:00

In [ ]:
# 8-8
for i in range(1,11):
  cnt=0
  print('%2d의 약수 : '% i, end=' ')
  for j in range(1,i+1):
    if i % j ==0:
      print(j, end=' ')
      cnt += 1
  print('(%d)'% cnt)

 1의 약수 :  1 (1)
 2의 약수 :  1 2 (2)
 3의 약수 :  1 3 (2)
 4의 약수 :  1 2 4 (3)
 5의 약수 :  1 5 (2)
 6의 약수 :  1 2 3 6 (4)
 7의 약수 :  1 7 (2)
 8의 약수 :  1 2 4 8 (4)
 9의 약수 :  1 3 9 (3)
10의 약수 :  1 2 5 10 (4)

In [ ]:
# 8-9
score = [70,80,60,100,50]
rank=[0]*5
n=len(score)
for i in range(n):
  rank[i]=1
  for j in range(n):
    if score[i]<score[j]:
      rank[i]+=1
for i in range(n):
  print('score {}, rank {}'.format(score[i],rank[i]))

score 70, rank 3
score 80, rank 2
score 60, rank 4
score 100, rank 1
score 50, rank 5

In [ ]:
#8-10
score=[60,80,90,70,95]
cnt=0
print(score)
for i in range(len(score)):
  if score[i]>80:
    result='합격'
    cnt += 1
  else:
    result = '불합격'
  print('{}번 학생은 {}입니다.'.format(i+1,result))
print('합격한 학생 수: ', cnt)

[60, 80, 90, 70, 95]
1번 학생은 불합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.
합격한 학생 수:  2

In [ ]:
# 8-11
menu ={}
menu['라면']=3000
menu['떡볶이']=4000
menu['김밥']=2000
menu['햄버거']=5000

for i in menu.keys():
  print('{}-{}'.format(i,menu[i]))

while True:
  s=input('seach menu : ')
  if s=='q':break
  print(menu.get(s,'not Found'))

라면-3000
떡볶이-4000
김밥-2000
햄버거-5000
seach menu : 라면
3000
seach menu : q

In [ ]:
# 8-12
n=0
club=[]

while True:
  num=int(input('학번:'))
  if num==0:break
  name=input('이름:')
  dept=input('학과:')
  phone=input('연락처:')
  addr={'학번':num, '이름':name,'학과': dept, '연락처':phone}
  club.append(addr)
  print('{}'.format(club[n]))
  n += 1

학번:2020615076
이름:타바루 나미카
학과:국제경제통상학과
연락처:010-0000-1111
{'학번': 2020615076, '이름': '타바루 나미카', '학과': '국제경제통상학과 ', '연락처': '010-0000-1111'}
학번:100
이름:a
학과:t
연락처:010
{'학번': 100, '이름': 'a', '학과': 't', '연락처': '010'}
학번:0

In [ ]:
# 실습 8-1
score=[]
p,f=0,0
cnt=int(input('수강 과목 수 :'))

for i in range(cnt):
  s=int(input('score %d : ' %(i+1)))
  score.append(s)

for i in range(cnt):
  if score[i]>80:
    p+=1
  else:
    f += 1
print('pass : ',p)
print('fail : ',f)

수강 과목 수 :5
score 1 : 100
score 2 : 70
score 3 : 60
score 4 : 80
score 5 : 90
pass :  2
fail :  3

In [ ]:
# 8-2
s=int(input('start num: '))
e=int(input('end num: '))

total=0

for i in range(s, e+1):
  if i % 3 != 0:
    total += i

print('3의 배수를 제외한 숫자의 합', total)

start num: 1
end num: 10
3의 배수를 제외한 숫자의 합 37

In [ ]:
# 실습 8-3
print('정수를 입력.0 입력시 종료됨')
total=0
s=int(input('num : '))

while s!=0:
  total += s
  s=int(input('num :'))

print('총 합계 : ', total)

정수를 입력.0 입력시 종료됨
num : 100
num :100
num :100
num :100
num :0
총 합계 :  400

In [ ]:
# 8장 도전 1-1
import random

print('덧셈 게임')
score=0
while True:
  s=input('시작:아무키나, 종료:0')
  if s=='0':break
  n1=random.randint(1,100)
  n2=random.randint(1,100)
  print('{} + {} = '.format(n1,n2))
  ans= int(input('answer:'))
  if ans==(n1+n2):
    print('정답')
    score += 10
  else:
    print('오답')
    score -=5
print('score: ',score)

덧셈 게임
시작:아무키나, 종료:0
72 + 19 =
answer:91
정답
시작:아무키나, 종료:0
22 + 87 =
answer:109
정답
시작:아무키나, 종료:0
19 + 62 =
answer:81
정답
시작:아무키나, 종료:0
32 + 80 =
answer:112
정답
시작:아무키나, 종료:00
score:  40

In [ ]:
# 8장 도전 1-2
score=[]
total=0
for i in range(5):
  s=int(input('score : '))
  score.append(s)
for i in score:
  total += s
avg=total/5

print('total :',total)
print('avg :',avg)

score : 100
score : 100
score : 100
score : 100
score : 100
total : 500
avg : 100.0

In [ ]:
# 8장 도전 1-3
price=[]

for i in range(5):
  p=int(input('price : '))
  price.append(p)

m=price[0]

for i in range(1,5):
  if m > price[i]:
    m = price[i]

print('min : ',m)

price : 12000
price : 1000
price : 15000
price : 170
price : 2000
min :  170

In [ ]:
# 8장 도전 2-1
n=0
friend = []

while True:
  num=int(input('1) 친구 등록 2) 검색 3) 종료 :'))
  if num==1:
    name=input('name:')
    phone=input('phone:')
    addr={'name':name, 'phone':phone}
    friend.append(addr)
  elif num==2:
    n=input('name : ')
    if num=='3':break
    print(friend.get(n, 'not Found'))

1) 친구 등록 2) 검색 3) 종료 :1
name:김은실
phone:010

AttributeError: ignored

In [ ]:
friend_list = []

while True:
    num = int(input('1) 친구 등록 2) 검색 3) 종료: '))

    if num == 1:
        name = input('name : ')
        phone = input('phone: ')
        friend = {'name': name, 'phone': phone}
        friend_list.append(friend)

    elif num == 2:
        search_name = input('name: ')
        found = False
        for friend in friend_list:
            if friend['name'] == search_name:
                print(f"{friend['phone']}")
                found = True
                break
        if not found:
            print('not Fond')

    elif num == 3:
        break

1) 친구 등록 2) 검색 3) 종료: 1
name : 장은실
phone: 010-0000-0000
1) 친구 등록 2) 검색 3) 종료: 1
name : 오경선
phone: 010-0000-0000
1) 친구 등록 2) 검색 3) 종료: 2
name: 장은실
010-0000-0000
1) 친구 등록 2) 검색 3) 종료: 2
name: 양숙희
not Fond
1) 친구 등록 2) 검색 3) 종료: 3

In [ ]:
cnt = 0

for i in range(3):
    pw = input('패스워드 입력: ')
    if pw != 'admin':
        print('암호가 틀립니다.')
        cnt += 1
        if cnt >= 3:
            print('시도횟수초과.')
            break
    else:
        print('환영합니다.')
        break

print('프로그램 종료')

패스워드 입력: a
암호가 틀립니다.
패스워드 입력: ab
암호가 틀립니다.
패스워드 입력: abc
암호가 틀립니다.
시도횟수초과.
프로그램 종료

In [ ]:
#8장 도전 2-3
import random

lotto = []
print('로또 프로그램 시작')

cnt = 0
while True:
    a = random.randint(1, 45)
    lotto.append(a)
    cnt += 1
    if cnt >= 6:
        break

print('추첨된 로또 번호')
lotto.sort()

for i in range(6):
    print('{} '.format(lotto[i]), end='')

로또 프로그램 시작
추첨된 로또 번호
6 24 37 38 39 43

In [ ]:
day31 = [1,3,5,7,8,10,12]
day30 = [4,6,9,11]
year = int(input('년도 입력: '))
month = int(input('월 입력: '))
if month <1 or month > 12:
  print('존재하지 않는 월!!')
elif month in day31:
  result = 31
elif month in day31:
  result = 30
elif year%4==0 and year%100==0 or year%400==0:
  result = 29
  if month == 2:
    result =
else :
  result = 28
print('%d년 %d월은 %d까지'%(year, month, result))

년도 입력: 2024
월 입력: 2
2024년 2월은 28까지

In [ ]:
num = int(input())
if num%2!=0:
  print(num,"은 홀수입니다. ")
else:
  print(num,"은 짝수입니다.")

4
4 은 짝수입니다.

In [ ]:
id = input("id를 입력해주세요.")
passward = input("비밀번호를 입력해주세요.")
if id != "admin" and password != "1234" :
  print("id나 비밀번호가 잘못했습니다.")
else :
  print("로그인 성공")

id를 입력해주세요.admin
비밀번호를 입력해주세요.2345
로그인 성공

In [ ]:
year = 1
while year <= 3 :
  print("상당개", year, '년')
  year += 1

print('풍원을 옯습니다.')

상당개 1 년
상당개 2 년
상당개 3 년
풍원을 옯습니다.

In [ ]:
num = int(input('단 입력: '))
for i in range(1, 10):
  print('%d * %d = %d'%(num, i, num*i))

단 입력: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
num = int(input('단 입력:'))
for i in range(1,10):
  print('%d * %d = %d'%(num, i, num*i))

In [ ]:
i = 1
num = int(input('단 입력:'))
while i <= 9:
  print('%d * %d = %d'%(num, i, num*i))
  i += 1

단 입력:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [ ]:
students = []
sum = 0

num = int(input('학생 수 입력:'))
for i in range(num):
  print('<<',i+1, "번째 학생 정보 입력 >>")
  name = input('학생 이름 입력: ')
  score = int(input('%s 점수 입력: '% name))
  students.append([name, score])
  sum += score

for info in students:
  print('이름: %s, 점수: %d '%(info[0], info[1]))
print('학생들 점수 평균: %5.2f' % (sum/num))

학생 수 입력:2
<< 1 번째 학생 정보 입력 >>
학생 이름 입력: a
a 점수 입력: 90
<< 2 번째 학생 정보 입력 >>
학생 이름 입력: c
c 점수 입력: 100
이름: a, 점수: 90
이름: c, 점수: 100
학생들 점수 평균: 95.00

In [ ]:
students = {}
sum = 0

num = int(input('학생 수 입력:'))
for i in range(num):
  print('<<',i+1, "번째 학생 정보 입력 >>")
  name = input('학생 이름 입력: ')
  score = int(input('%s 점수 입력: '% name))
  students.update({name:score})
  sum += score

for info in students :
  print(list(info.keys())[0])

학생 수 입력:2
<< 1 번째 학생 정보 입력 >>
학생 이름 입력: a
a 점수 입력: 100
<< 2 번째 학생 정보 입력 >>
학생 이름 입력: c
c 점수 입력: 90

AttributeError: ignored

In [ ]:

for info in students:
  print('이름: %s, 점수: %d '%(info.keys(), info.values()))
print('학생들 점수 평균: %5.2f' % (sum/num))

2

In [ ]:
# initializing dictionary
test_dict = {"geeks": 7, "for": 1, "geeks": 2}

# accessing 2nd element using keys()
print('2nd key using keys() : ', list(test_dict.keys())[1])

2nd key using keys() :  for

In [ ]:
for i in range(5):
  print("*"*(5-i))

*****
****
***
**
*

In [ ]:
for i in range(5):
  print(str(5-i) * (5-i))

55555
4444
333
22
1

In [ ]:
print('입력 받은 숫자만큼 막대그래프 그리기')
while True:
  n = int(input('n:'))
  if n==0:
    break
  for i in range(n):
    print('*',end='')
  print()

입력 받은 숫자만큼 막대그래프 그리기
n:5
*****
n:3
***
n:

ValueError: ignored

In [ ]:
print("입력 받은 숫자만큼 악대그래프 그리기")
while True :
  n = int(input("n:"))
  if n != 0:
    for i in range(n):
      print("*", end ='')
  else:
    break
  print()

입력 받은 숫자만큼 악대그래프 그리기
n:3
***
n:4
****
n:5
*****
n:0

In [ ]:
print('입력 받은 숫자만큼 막대그래프 그리기')
while True:
  n = int(input('n:'))
  if n != 0:
    for i in range(n):
      print('*', end = '')
  else:
    break
  print()

입력 받은 숫자만큼 막대그래프 그리기
n:3
***
n:4
****
n:5
*****
n:0

In [ ]:
import random

print('구구단 게임')
while True :
  s = input('시자: 아무키나, 종료:0')
  if s=='0':
    break
  dan=random.randint(2,9)
  num=random.randint(1,9)
  print('{}*{}='.format(dan, num))
  ans = int(input('answer'))
  if ans ==dan*num:
    print('PASS')
  else:
    print('FAIL')

구구단 게임
시자: 아무키나, 종료:0
8*2=
answer16
PASS

KeyboardInterrupt: ignored

In [ ]:
for i in range(6,0,-1):
  for j in range(1,i+1):
    print(i,end='')
  print()

666666
55555
4444
333
22
1

In [ ]:
a = input("회원이십니까?(y/n)")
if a == "y":
  print("어서 오십시오.")
else:
  print('회원가입을 해주세요.')

회원이십니까?(y/n)y
어서 오십시오.

In [ ]:
age = int(input("나이 입력: "))
price = 20000
if 1<= age < 6:
  print('입장료 무료')
elif 6 <= age < 60:
  print('입장료는 %d'%(price))
else:
  print('입장료는 %d'%(price*0.5))

나이 입력: 60
입장료는 10000

In [ ]:
pocket = ['스마트폰','교통카드','현금']
item = input('결제 수단 입력: ')
price = 2000
if item in pocket and item == '현금':
  print('택시를 타세요.')
elif item in pocket and item == '교통카드':
  print('버스를 타세요.')
else:
  print('걸어가세요.')

결제 수단 입력: 현금
택시를 타세요.

In [ ]:
year = int(input('연도 입력:'))
if year % 4 == 0 and year % 100 != 0 or year % 400 ==0:
  print('%d 년은 윤년'% year)
else:
  print('%d 년은 윤년 아님'% year)

연도 입력:1999
1999 년은 윤년 아님

In [ ]:
day31 = [1,3,5,7,8,10,12]
day30 = [4,6,9,11]
year = int(input('연도 입력: '))
month = int(input('월 입력: '))
if month < 1 or month >12 :
  print("존재하지 않는 월")
elif month in day31 :
  result = 31
elif month in day30 :
  result = 30
elif year % 4==0 and year%100 != 0 or year %400==0:
  result = 29
else:
  result = 28
print('%d년 %d월은 %d까지'%(year, month, result))

연도 입력: 1999
월 입력: 7
1999년 7월은 31까지

In [ ]:
num = int(input('정수 입력: '))
if num % 2 != 0:
  print('%d은 홀수'% num)
else :
  print('%d은 짝수')

정수 입력: 5
5은 홀수

In [ ]:
num1 = int(input('첫 번째 수 입력: '))
num2 = int(input('두 번째 수 입력: '))
op = input('원하는 연산 기호 하나 입력: ')

if op == '+':
  print('%d + %d = %d'%(num1, num2, num1+num2))
elif op == '-':
  print('%d - %d = %d'%(num1, num2, num1-num2))
elif op == '*':
  print('%d * %d = %d'%(num1, num2, num1*num2))
elif op == '/':
  print('%d / %d = %d'%(num1, num2, num1/num2))
else:
  print('올바른 기호를 입력하세요.')

첫 번째 수 입력: 5
두 번째 수 입력: 4
원하는 연산 기호 하나 입력: -
5 - 4 = 1

In [ ]:
score1 = int(input('1차 점수 입력: '))
score2 = int(input('2차 점수 입력: '))
avg = (score1 + score2)/2

if avg >= 70 and score1 >=50 and score2 >= 50:
  print('합격')
else:
  print('불합격')

1차 점수 입력: 3
2차 점수 입력: 100
불합격

In [ ]:
for i in range(5):
  print('*'*(i+1))

*
**
***
****
*****

In [ ]:
odd = [1,3,5,7,9]
for i in odd:
  print(i+1, end = ' ')

2 4 6 8 10

In [ ]:
for i in 'Python':
  print(i, end=' ')

P y t h o n

In [ ]:
year = 1
while year <= 3:
  print('서당개',year,'년')
  year += 1

print('풍원을 옲습니다.')

서당개 1 년
서당개 2 년
서당개 3 년
풍원을 옲습니다.

In [ ]:
while True:
  num = int(input('번호 입력(종료 0 ):'))
  if num == 0:
    break
  print('while 무한루프로 반복중')

번호 입력(종료 0 ):1
while 무한루프로 반복중
번호 입력(종료 0 ):3
while 무한루프로 반복중
번호 입력(종료 0 ):0

In [ ]:
alpha = {'A':'1!','B':'2@','C':'3#','D':'4$','E':'5%'}
while True:
  code = ''
  word = input('대문자 A~E 단어 입력(종료:0)')
  if word == '0':
    break
  for ch in word:
    code += alpha[ch]
  print('단어:', word,', 암호코드:',code,'\n')
print('암호코드 변환 프로그램 종료')

대문자 A~E 단어 입력(종료:0)A
단어: A , 암호코드: 1!

대문자 A~E 단어 입력(종료:0)0
암호코드 변환 프로그램 종료

In [ ]:
start = int(input('시작단 입력: '))
end = int(input('종료단 입력: '))
for num in range(start, end+1):
  i = 1
  while i <= 9:
    print('%d * %d = %d'% (num, i, num*i))
    i += 1
print('구구단 프로그램 종료')

시작단 입력: 5
종료단 입력: 6
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
구구단 프로그램 종료

In [ ]:
main = ['참치', '소고기']
side = ['치즈','김치']
i = 1
for m in main:
  for s in side:
    print(i,m+'+'+s+'+단무지')
    i += 1

1 참치+치즈+단무지
2 참치+김치+단무지
3 소고기+치즈+단무지
4 소고기+김치+단무지

In [ ]:
students = []
sum = 0

num = int(input('학생 수 입력: '))
for i in range(num):
  print('<<', i+1, '번째 학생 정보 입력 >>')
  name = input('학생 이름 입력: ')
  score = int(input('%s 점수 입력: '% name))
  students.append([name, score])
  sum += score

for info in students :
  print('이름: %s, 점수; %d'%(info[0], info[1]))
print('학생들 점수 평균; %5.2f'%(sum/num))

학생 수 입력: 2
<< 1 번째 학생 정보 입력 >>
학생 이름 입력: a
a 점수 입력: 100
<< 2 번째 학생 정보 입력 >>
학생 이름 입력: c
c 점수 입력: 90
이름: a, 점수; 100
이름: c, 점수; 90
학생들 점수 평균; 95.00

In [ ]:
day31 = [1,3,5,7,8,10,12]
day30 = [4,6,9,11]
year = int(input('연도 입력: '))
month = int(input('월 입력: '))
if month < 1 or month >12 :
  print("존재하지 앟는 월")
elif month in day31 :
  result = 31
elif month in day30 :
  result = 30
elif year % 4 == 0 and year % 100 != 0 or year % 400 ==0:
  result = 29
else :
  result = 28
print('%d년 %d월은 %d까지'%(year, month, result))

연도 입력: 2024
월 입력: 6
2024년 6월은 30까지

In [ ]:
age = int(input('나이 입력: '))
price = 20000
if 1 <= age < 6 :
  print("입장료는 무료")
elif 6 <= age < 60 :
  print('입장료는',price, '원')
elif 6 <= age < 60 :
  print('입장료는',price, '원')

In [ ]:
for i in range(5):
  print('*'*(5-i))

*****
****
***
**
*

In [ ]:
for i in range(5):
  print(str(5-i)*(5-i))

55555
4444
333
22
1

In [ ]:
price = []

for i in range(5):
  p = int(input('price: '))
  price.append(p)

m=price[0]

for i in range(1,5):
  if m > price[i]:
    m = price[i]

print('min : ', m)

price: 6
price: 3
price: 10
price: 6
price: 3
min :  6

In [ ]:
import random

lotto = []
print('로또 프로그램 시작')

cnt = 1
while True :
  a= random.randint(1,45)
  lotto.append(a)
  cnt += 1
  if cnt >= 6:
    break
print('추첨된 로또 번호')
lotto. sort()

for i in range(6):
  print('{}'.format(lotto[i], end = ' '))

로또 프로그램 시작
추첨된 로또 번호
21
24
31
37
40

IndexError: ignored

In [ ]:
# 당첨번호를 랜덤으로 추출 하는 부분.
import random
lotto = []
while True:
    num = random.randint(1,45)
    if num not in lotto:
        lotto.append(num)

    if len(lotto) == 6:
        break
print('추첨된 로또 번호')
lotto.sort()

for i in range(6):
  print('{} '.format(lotto[i]),end='')

추첨된 로또 번호
3 10 20 22 42 44

In [3]:
a = input()
print(' '.join(a))

python
p y t h o n